<template>
  <div
    @touchstart="startTouch"
    @touchend="endTouch">
    <Menu ref="menu" :eps="eps" @about="about = true"></Menu>
    <VideoPage :ep="eps[currentEpisode]" @open="openVid"></VideoPage>
    <transition name="slide">
      <About v-show="about" @close="about = false"></About>
    </transition>
    <transition name="slide">
      <VideoPlayer
        v-if="vidId !== 0"
        :vidId="vidId"
        :next="nextEpisode"
        @close="vidId = 0"
        @about="about = true"
        ></VideoPlayer>
    </transition>

  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import Menu from '../components/Menu.vue'
import About from '../components/About.vue'
import VideoPage from '../components/VideoPage.vue'
import VideoPlayer from '../components/VideoPlayer.vue'

import { State } from '../types/types'

export default defineComponent({
  components: { Menu, About, VideoPage, VideoPlayer },
  data() {
    return{
      eps: this.$store.state.eps as State,
      about: false,
      vidId: 0,
      touchX: 0
    }
  },
  computed: {
    currentEpisode(): number {
      let actualKey = 0
      for(var key in this.eps) {
        if(this.eps[key].url === this.$route.params.episodio) actualKey = parseInt(key)
      }
      return actualKey
    },
    nextEpisode(): string {
      return this.currentEpisode + 1 === this.eps.length ? 'end' : this.eps[this.currentEpisode + 1].url
    }
  },
  methods: {
    openVid(vidId: number): void {
      this.vidId = vidId
    },
    startTouch(event: TouchEvent): void {
      this.touchX = event.changedTouches[0].screenX
    },
    endTouch(event: TouchEvent): void {
      if(event.changedTouches[0].screenX < this.touchX - 100) this.$refs.menu.open = true
      if(event.changedTouches[0].screenX > this.touchX + 100) this.$refs.menu.open = false
    }
  }
})
</script>

<style scoped>

</style>