<template>
  <div class="flex flex-col items-center justify-center mx-auto w-3/4 md:w-1/2 xl:w-4/12 h-full">
    <LogoPorcos class="logo" />
    <div class="mt-16">
      <router-link
        :to="{ name: 'Episodes', params: { episodio: 'prologo' }}"
        class="border border-gray-700 text-gray-700 hover:bg-gray-700 hover:text-gray-100 rounded px-4 py-2 font"
      >
        Iniciar
      </router-link>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import LogoPorcos from '../components/LogoPorcos.vue'

export default defineComponent({
  components: {
    LogoPorcos
  },
  data(){
    return{
    }
  }
})
</script>

<style scoped>

</style>