<template>
  <div class="absolute z-50 top-0 left-0 w-screen h-screen overflow-y-scroll bg-gray-300 p-10 lg:p-20 xl:p-40 xl:text-xl">
    <button
      class="fixed w-6 h-6 top-4 right-4 lg:right-6 flex items-center justify-center"
      @click="$emit('close')">
      <span aria-hidden="true" class="block absolute h-0.5 w-5 bg-current transform transition duration-150 ease-in-out rotate-45"></span>
      <span aria-hidden="true" class="block absolute h-0.5 w-5 bg-current transform  transition duration-150 ease-in-out -rotate-45"></span>
    </button>
    <article class="text-justify">
      <h1>Sobre</h1>
        <p>Esta série-documentário acompanha o projeto Os Tr3s Porcos – Fuçando Pelas Ruas, que promoveu a circulação do espetáculo de rua dA Próxima Companhia de Teatro por 20 cidades do estado de São Paulo com grande déficit habitacional, em áreas de disputa por moradia. Foram produzidos 15 episódios e 7 extras que mostram o processo desde ensaios, aquecimentos e carregamentos de cenários, até o contato entre uma peça que trata de luta pela habitação e seu o público, que a vive diariamente. Perpassando ocupações, assentamentos, favelas, praças e associações de moradores, os artistas são levados a repensar e recriar sua obra, entendendo como o público é agente da sua escrita, ao mesmo tempo em que os espectadores se identificam e se criticam ao se verem representados numa história tão familiar.</p>
        <p>Partindo da fábula dos três porquinhos, A Próxima Companhia busca na linguagem do palhaço e do teatro de rua os elementos para discutir a luta por habitação e o direito a cidade, tudo sem nunca deixar de divertir e provocar. Vagando pela cidade – sempre um espaço novo e diferente – três porcos procuram um lugar desabitado para construírem suas casas. O mais malandro usa do trabalho dos irmãos para ficar com a casa mais vistosa, enquanto os que mais trabalham tem problemas em perceber porque suas casas são as mais precárias. Ainda assim, tudo ia bem até uma série de cartas chegarem pelo correio, assinadas pelo Lobo. Onde está o Lobo, e por que de repente os três porcos estão ficando com fome de presunto?</p>
        <p>Durante a circulação mostrada nesta série, foram visitadas cidades distantes e contextos distintos, mas em todas elas a luta era a mesma: pelo direito de morar. O quão desumanizados somos, quando nos são negados os direitos humanos? Construindo sobre o barro, sobre a lama, os movimentos de moradia, organizados ou não, utilizam as ferramentas que encontram para fazer da vida um ato constante de luta por justiça, por um teto, às vezes com paredes, geralmente com uma porta, com sorte (e trabalho) uma janela também. De muitas formas o Lobo tenta fazer com que um morador devore o outro, de muitas formas ele tenta nos soprar, soprar, soprar, até as casas derrubar, o movimento dividir, e a terra especular.</p>
        <p>Em algumas cidades, a luta avança, tem muito o que andar. Em outras, encontramos vitória, uma terra e um teto finalmente conquistados. Algumas nos ensinam outros meios de morar e de viver em sociedade, em cidade e em natureza. E ainda tem aquelas pelas quais passamos e que não estão mais lá, deixando o luto que nos lembra por que lutamos.</p>
        <p>Esta série é um relato afetivo e crítico, pensado e emocionado, mais aproximado que distanciado sobre os limites da metáfora e do cotidiano, da fome insaciável da gentrificação, do uivo ameaçador da especulação imobiliária, da alcateia que se forma entre o mercado e as suas muitas faces e agentes. Cada episódio é uma troca, um produto da força coletiva que encontramos junto a cada uma dessas comunidades, um presente devolvido a elas por tudo o que trocamos e uma forma de conectá-las umas às outras. A questão da moradia, como tantas, nunca é uma linha reta, e raramente acontece da mesma forma em dois chãos, mas andamos sob o mesmo sol e com o mesmo norte, sem medo do Lobo Mau, e prontos para fazermos das ruínas coração.</p>
      <h1>Créditos</h1>
        <table class="mb-8">
          <tr>
            <tr><h2>Equipe</h2></tr>
          </tr>
          <tr class="section"></tr><tr>
            <td><span class="font pr-8 text-sm xl:text-lg">Direção, Fotografia, Montagem e Desenvolvimento web</span></td><td class="spacer"></td>
            <td>Eduardo Liron</td>
          </tr>
          <tr class="section"></tr><tr>
            <td><span class="font pr-8 text-sm xl:text-lg">Som direto e Mixagem de Som</span></td><td class="spacer"></td>
            <td>Renan Vasconcelos</td>
          </tr>
          <tr class="section"></tr><tr>
            <td><span class="font pr-8 text-sm xl:text-lg">Câmera e Audio Adicionais</span></td><td class="spacer"></td>
            <td>Bruno Lottelli</td>
          </tr>
          <tr class="section"></tr><tr>
            <td><span class="font pr-8 text-sm xl:text-lg">Produção</span></td><td class="spacer"></td>
            <td>Solange Borelli</td>
          </tr>
          <tr class="section"></tr><tr>
            <td><span class="font pr-8 text-sm xl:text-lg">Assistência de Produção</span></td><td class="spacer"></td>
            <td>Renato Mendes e Artur Mattar</td>
          </tr>

          <tr>
            <td><h2>Elenco</h2></td>
          </tr>
          <tr class="section"></tr><tr>
            <td><span class="font pr-8 text-sm xl:text-lg">Porco Micotó</span></td><td class="spacer"></td>
            <td>Caio Franzolin</td>
          </tr>
          <tr class="section"></tr><tr>
            <td><span class="font pr-8 text-sm xl:text-lg">Porco Fetito</span></td><td class="spacer"></td>
            <td>Caio Marinho</td>
          </tr>
          <tr class="section"></tr><tr>
            <td><span class="font pr-8 text-sm xl:text-lg">Porco Ottoicinho</span></td><td class="spacer"></td>
            <td>Gabriel Küster</td>
          </tr>

          <tr>
            <td><h2>Entrevistas</h2></td>
          </tr>
          <tr class="section"></tr><tr>
            <td><span class="font pr-8 text-sm xl:text-lg">São Paulo</span></td><td class="spacer"></td>
            <td>Benedito Barbosa</td>
          </tr>
          <tr>
            <td></td><td class="spacer"></td>
            <td>Claudete Lindoso</td>
          </tr>
          <tr class="section"></tr><tr>
            <td><span class="font pr-8 text-sm xl:text-lg">São Bernardo do Campo</span></td><td class="spacer"></td>
            <td>José Marcos</td>
          </tr>
          <tr>
            <td></td><td class="spacer"></td>
            <td>Joana Darc Nunes</td>
          </tr>
          <tr>
            <td></td><td class="spacer"></td>
            <td>Guilherme Boulos</td>
          </tr>
          <tr class="section"></tr><tr>
            <td><span class="font pr-8 text-sm xl:text-lg">Guarulhos</span></td><td class="spacer"></td>
            <td>Zelidio Barbosa Lima</td>
          </tr>
          <tr class="section"></tr><tr>
            <td><span class="font pr-8 text-sm xl:text-lg">Sorocaba</span></td><td class="spacer"></td>
            <td>Vânia Estefânia Martin</td>
          </tr>
          <tr class="section"></tr><tr>
            <td><span class="font pr-8 text-sm xl:text-lg">Poa ou</span></td><td class="spacer"></td>
            <td>Seu Damião</td>
          </tr>
          <tr>
            <td><span class="font pr-8 text-sm xl:text-lg">Ferraz de Vasconcelos</span></td><td class="spacer"></td>
            <td>Domingos Marques da Silva Moura</td>
          </tr>
          <tr>
            <td></td><td class="spacer"></td>
            <td>Joséfa Luciene dos Santos Moura</td>
          </tr>
          <tr class="section"></tr><tr>
            <td><span class="font pr-8 text-sm xl:text-lg">São José dos Campos</span></td><td class="spacer"></td>
            <td>Neuzinha</td>
          </tr>
          <tr>
            <td></td><td class="spacer"></td>
            <td>Elaine Lopes da Silva</td>
          </tr>
          <tr>
            <td></td><td class="spacer"></td>
            <td>David Morais</td>
          </tr>
          <tr>
            <td></td><td class="spacer"></td>
            <td>Kardec Gonzaga</td>
          </tr>
          <tr class="section"></tr><tr>
            <td><span class="font pr-8 text-sm xl:text-lg">Piracicaba</span></td><td class="spacer"></td>
            <td>Ivani Aparecida Assunção</td>
          </tr>
          <tr>
            <td></td><td class="spacer"></td>
            <td>Mayra Kristina de Camargo</td>
          </tr>
          <tr class="section"></tr><tr>
            <td><span class="font pr-8 text-sm xl:text-lg">Bauru</span></td><td class="spacer"></td>
            <td>Maria Claudia Moura Borges</td>
          </tr>
          <tr>
            <td></td><td class="spacer"></td>
            <td>Cristiana Oliveira (in memorian)</td>
          </tr>
          <tr class="section"></tr><tr>
            <td><span class="font pr-8 text-sm xl:text-lg">Carapicuiba</span></td><td class="spacer"></td>
            <td>Adiel da Silva Costa</td>
          </tr>
          <tr>
            <td></td><td class="spacer"></td>
            <td>Rogerio da Silva Cruz</td>
          </tr>
          <tr>
            <td></td><td class="spacer"></td>
            <td>Claudiana Ribeiro</td>
          </tr>
          <tr>
            <td></td><td class="spacer"></td>
            <td>Antonio de Jesus da Silva</td>
          </tr>
          <tr class="section"></tr><tr>
            <td><span class="font pr-8 text-sm xl:text-lg">Ribeirão Preto</span></td><td class="spacer"></td>
            <td>Platinir Nunes</td>
          </tr>
          <tr>
            <td></td><td class="spacer"></td>
            <td>Juscilene Sena dos Santos</td>
          </tr>
          <tr class="section"></tr><tr>
            <td><span class="font pr-8 text-sm xl:text-lg">Presidente Prudente</span></td><td class="spacer"></td>
            <td>Regiane Menezes de Souza</td>
          </tr>
          <tr>
            <td></td><td class="spacer"></td>
            <td>Renata Menezes de Souza</td>
          </tr>
          <tr>
            <td></td><td class="spacer"></td>
            <td>Mari Palhares</td>
          </tr>
          <tr class="section"></tr><tr>
            <td><span class="font pr-8 text-sm xl:text-lg">Santo André</span></td><td class="spacer"></td>
            <td>Tiago Nogueira</td>
          </tr>
          <tr>
            <td></td><td class="spacer"></td>
            <td>Jacinto Ezequiel de Medeiros</td>
          </tr>
          <tr>
            <td></td><td class="spacer"></td>
            <td>Francisco Lopes de Medeiros</td>
          </tr>
          <tr class="section"></tr><tr>
            <td><span class="font pr-8 text-sm xl:text-lg">Caieiras</span></td><td class="spacer"></td>
            <td>Janete Ramos Marques</td>
          </tr>
          <tr>
            <td></td><td class="spacer"></td>
            <td>Diogo Ribeiro dos  Santos</td>
          </tr>
          <tr>
            <td></td><td class="spacer"></td>
            <td>Juliana Santos</td>
          </tr>
          <tr>
            <td></td><td class="spacer"></td>
            <td>Nazuila Silva</td>
          </tr>
          <tr>
            <td></td><td class="spacer"></td>
            <td>Fernando Ribeiro da Silva</td>
          </tr>
          <tr class="section"></tr><tr>
            <td><span class="font pr-8 text-sm xl:text-lg">Sumaré</span></td><td class="spacer"></td>
            <td>Everaldo Miranda</td>
          </tr>
          <tr>
            <td></td><td class="spacer"></td>
            <td>Katia Ferraz</td>
          </tr>
          <tr>
            <td></td><td class="spacer"></td>
            <td>Marilene Teixeira Cardoso</td>
          </tr>
          <tr>
            <td></td><td class="spacer"></td>
            <td>Alexandre Mandl</td>
          </tr>
          <tr class="section"></tr><tr>
            <td><span class="font pr-8 text-sm xl:text-lg">Taboão da Serra</span></td><td class="spacer"></td>
            <td>Maria Lucia de Souza Morais</td>
          </tr>
          <tr>
            <td></td><td class="spacer"></td>
            <td>Jose Ferreira da Silva</td>
          </tr>
          <tr>
            <td></td><td class="spacer"></td>
            <td>Paulo Ferreira da Silva</td>
          </tr>
          <tr class="section"></tr><tr>
            <td><span class="font pr-8 text-sm xl:text-lg">Intervalo 3</span></td><td class="spacer"></td>
            <td>Rosicler Bento de Lima</td>
          </tr>
          <tr>
            <td></td><td class="spacer"></td>
            <td>Joana Darc Nunes</td>
          </tr>
          <tr>
            <td></td><td class="spacer"></td>
            <td>Joana Pereira da Conceição</td>
          </tr>
          <tr class="section"></tr><tr>
            <td><span class="font pr-8 text-sm xl:text-lg">Intervalo 5</span></td><td class="spacer"></td>
            <td>Leon Cunha</td>
          </tr>
        </table>
      <h1>Realização</h1>
      <div class="lg:flex lg:items-center w-full">
        <a href="https://graofilmes.com.br" class="logos" target="_blanc"><LogoGrao /></a>
        <a href="http://www.radarcultural.com.br/" class="logos" target="_blanc"><LogoRadar /></a>
        <a href="https://www.aproximacompanhia.com.br/" class="logos" target="_blanc"><LogoProxima /></a>
      </div>
    </article>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import LogoGrao from '../components/LogoGrao.vue'
import LogoRadar from '../components/LogoRadar.vue'
import LogoProxima from '../components/LogoProxima.vue'

export default defineComponent({
  components: {
    LogoGrao,
    LogoRadar,
    LogoProxima
  },
  emits: ['close']
})
</script>

<style lang="postcss" scoped>
  h1 {
    @apply text-2xl py-4 xl:text-6xl xl:py-8;
  }

  h2 {
    @apply text-xl py-4;
  }

  p {
    @apply py-4
  }

  td {
    @apply py-2
  }

  .logos {
    @apply block p-8 md:p-12 lg:flex-grow;
  }
</style>
