<template>
  <ul
    @mouseenter="openMenu"
    @mouseleave="closeMenu"
    class="absolute z-30 right-0 md:relative w-0 lg:w-20 h-screen bg-gray-700 text-white py-4 overflow-y-scroll overflow-x-hidden slider-transition font"
    :class="{'w-full lg:w-96': open}">
    <button
      v-show="open"
      class="md:hidden fixed w-6 h-6 top-2 flex items-center justify-center right-2"
      @click="closeMenu">
      <span aria-hidden="true" class="block absolute h-0.5 w-5 bg-current transform transition duration-150 ease-in-out rotate-45"></span>
      <span aria-hidden="true" class="block absolute h-0.5 w-5 bg-current transform  transition duration-150 ease-in-out -rotate-45"></span>
    </button>
    <li
      v-for="(ep, key) in eps" :key="key"
      class="flex items-center whitespace-nowrap"
      @click="closeMenu">
      <div
        v-if="$route.params.episodio === ep.url"
        class="w-4 h-4 bg-gray-300 absolute -left-2 transform rotate-45"></div>
      <transition name="slide-fade" mode="out-in">
        <router-link
          :to="{ name: 'Episodes', params: { episodio: ep.url }}"
          class="w-full py-3 px-6 hover:bg-gray-900"
          v-if="open"
          key="on">
          <h2
            class="text-sm"
            v-if="typeof ep.ep === 'number'">
            Episódio {{ep.ep}}
            </h2>
          <h2
            class="text-sm"
            v-else-if="ep.int">
            Intervalo {{ep.int}}
            </h2>
          <h2
            class="text-sm"
            v-else>Fim</h2>
          <h1
            class="text-xl">
            {{ep.name}}
          </h1>
        </router-link>
        <div
          v-else
          key="off"
          class="py-6 w-20 text-center">
          <span v-if="typeof ep.ep === 'number'">E{{ep.ep}}</span>
          <span v-else-if="ep.int">I{{ep.int}}</span>
          <span v-else>Fim</span>
        </div>
      </transition>
    </li>
  </ul>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'
import { ep } from '../types/types'

export default defineComponent({
  emits: ['update:open'],
  props: {
    open: Boolean,
    eps: {
      type: Array as PropType<Array<ep>>,
      required: true
    }
  },
  methods: {
    openMenu() {
      this.$emit('update:open', true)
    },
    closeMenu() {
      this.$emit('update:open', false)
    }
  }
})
</script>

<style type="postcss" scoped>
.slider-transition {
  transition: width 1s;
}
</style>