<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 337.4 176.1"
    class="logo"
  >
    <path
      class="st0"
      d="M201.3,104.6c0,1.9,1.4,23.1-19.7,23.1c-15.3,0-19.1-11.5-19.6-16.8h9.4c0.4,2,1.7,8.4,10.3,8.4
	c12.1,0,10.3-12.9,10.3-18.3c-5.3,6.6-18.3,8.5-26.4-0.3c-7.8-8.4-6.3-23.6-0.4-30.3c9.9-11,24.6-6.2,26.8-2.1V65h9.4v39.6H201.3z
	 M180.9,72.3c-15,0-14.9,26.1,0,26.1C195.9,98.3,196.3,72.3,180.9,72.3z"
    />
    <path
      class="st0"
      d="M213.1,65h9.4v2.4c1.7-1.8,9.4-6.2,17.2-1.1l-3.1,8.6c-9.8-5.1-14.1,0.5-14.1,9.7v21h-9.4L213.1,65L213.1,65z"
    />
    <path
      class="st0"
      d="M274.9,65v3.5c-6.8-8.8-31.8-6.6-31.8,16.7c0,22.2,22.6,25.9,31.8,17.4v3h9.4V65H274.9z M263.8,98.3
	c-14.9,0-15.2-26,0.1-26C279.4,72.3,279.5,98.3,263.8,98.3z"
    />
    <path
      class="st0"
      d="M315.8,63.9c28.6,0,29,42.8-0.2,42.8C287.2,106.7,286.9,63.9,315.8,63.9z M315.8,98.3c16.1,0,16.3-26,0-26
	C300,72.3,299.5,98.3,315.8,98.3z"
    />
    <path
      class="st0"
      d="M257.3,58l-5.5-4.6c3.4-4.9,5.7-7.7,10.6-7.7c5.3,0,10.7,4.4,13.1,4.4c1.6,0,3.3-1.5,5.2-4.5L286,50
	c-2.7,5.3-6.3,8-10.8,8C267.1,57.9,261.9,48.4,257.3,58z"
    />
    <path
      class="st0"
      d="M63.6,135.3c3.4-8,8.7-14.2,8.7-14.2c-5.7-0.5-13.3-3-19.8-9c-6.2-5.8-11.1-14.3-11.1-25.5
	c0-13.1,7.5-24.6,18.4-30.3C72.3,49.8,83.4,32.9,83.4,14L83.3,0C64,0,76,28,51.2,43.3C37,52.2,25.8,66.4,25.8,86.6
	C25.8,112,43.7,130.4,63.6,135.3z"
    />
    <path
      class="st0"
      d="M88,38.4c-3.4,8-8.7,14.2-8.7,14.2c5.7,0.5,13.3,3,19.8,9c6.2,5.8,11.1,14.3,11.1,25.5
	c0,13.1-7.5,24.6-18.4,30.3c-12.4,6.5-23.4,23-23.6,41.7l0,0v17h15.5v-17c0-12.2,6.4-22.4,16.6-28.7c14.3-8.8,25.4-23.1,25.4-43.3
	C125.7,61.6,107.9,43.2,88,38.4z"
    />
    <g>
      <path
        class="st0"
        d="M58.3,144.9c-25.6-7-44.4-30.4-44.4-58.2c0-23.6,13.5-43.9,33.2-53.9c6.5-5.1,8.7-11.6,10.6-18.4
		C24.7,21.9,0,51.5,0,86.7c0,34.8,24,64,56.4,72C56.5,154.1,57.1,149.4,58.3,144.9z"
      />
      <path
        class="st0"
        d="M91.7,14.7c-0.1,4.7-0.7,9.3-1.8,13.8c25.6,6.9,44.5,30.4,44.5,58.2c0,23.4-13.4,43.7-32.9,53.7
		c-5.8,4.4-9.3,11-9.6,18.3c32.3-8,56.3-37.2,56.3-72C148.3,51.9,124.2,22.6,91.7,14.7z"
      />
    </g>
  </svg>
</template>

<style scoped>
  .logo {
    fill: #283747
  }
</style>
