<template>
  <svg
    id="Layer_1"
    data-name="Layer 1"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 472.9 127.4"
  >
    <rect x="406.8" y="72.6" width="8.4" height="54.1" style="fill: #283747" />
    <path
      d="M27.6,119.9c-11.2,0-19-8.6-19-20.1s7.9-20,19-20c7,0,12.1,3.1,15.1,7.8L49.1,83c-4.8-7.1-11.9-10.7-21.5-10.7C12.3,72.3,0,83.8,0,99.8s12.3,27.6,27.6,27.6c10,0,17.6-4.4,22.3-11.5l-6.4-4.5A18,18,0,0,1,27.6,119.9Z"
      transform="translate(0 0)"
      style="fill: #283747"
    />
    <path
      d="M85.3,72.2c-15.4,0-27.8,11.5-27.8,27.6s12.3,27.6,27.8,27.6S113,115.9,113,99.8,100.7,72.2,85.3,72.2Zm0,47.7c-11.2,0-19.2-8.6-19.2-20.1s8-20.1,19.2-20.1,19.1,8.6,19.1,20.1S96.6,119.9,85.3,119.9Z"
      transform="translate(0 0)"
      style="fill: #283747"
    />
    <path
      d="M151.9,102.4,126.2,72.3h-.9v54.3h8V98.8c0-3-.3-7.8-.3-7.8s2.7,4,4.8,6.5l13.5,16.3h1l13.5-16.3a60.5,60.5,0,0,0,4.8-6.5s-.3,4.8-.3,7.8v27.9h8V72.4h-.9Z"
      transform="translate(0 0)"
      style="fill: #283747"
    />
    <path
      d="M206.8,72.6H193.2v54.1h8.4V113.8h5.2c14.9,0,23.2-8.1,23.2-20.6S221.8,72.6,206.8,72.6Zm-.3,33.8h-4.9V80h4.9c10.6,0,15,5,15,13.2S217.2,106.4,206.5,106.4Z"
      transform="translate(0 0)"
      style="fill: #283747"
    />
    <path
      d="M254.9,73.5l-22.6,53.2h9.3l.4-.9a18.34,18.34,0,0,1,25.6-4.6,18.81,18.81,0,0,1,4.5,4.4l.4,1.1h9.4l-23-53.2C257.7,70.9,256,70.9,254.9,73.5Zm2.2,37.1a28.08,28.08,0,0,0-9.9,1.9l9-22.7c.4-.9,1-1,1.4,0l9.1,22.6A28.65,28.65,0,0,0,257.1,110.6Z"
      transform="translate(0 0)"
      style="fill: #283747"
    />
    <path
      d="M325.8,102.4c0,3,.6,7.8.6,7.8s-2.9-3.8-5-6L291.6,72.1h-1.1v54.7h7.8V96.9c-.1-2.6-.2-5.2-.5-7.8,0,0,2.9,3.7,5.1,6l29.8,32.1h1V72.6h-7.8Z"
      transform="translate(0 0)"
      style="fill: #283747"
    />
    <polygon
      points="382.9 101.7 356.9 101.7 356.9 72.6 348.5 72.6 348.5 126.7 356.9 126.7 356.9 109.2 382.9 109.2 382.9 126.7 391.3 126.7 391.3 72.6 382.9 72.6 382.9 101.7"
      style="fill: #283747"
    />
    <path
      d="M450,73.5c-1.1-2.6-2.9-2.6-4,0l-22.6,53.2h9.3l.4-.9a18.34,18.34,0,0,1,25.6-4.6,18.81,18.81,0,0,1,4.5,4.4l.4,1.1h9.3Zm-1.8,37.1a28.08,28.08,0,0,0-9.9,1.9l9-22.7c.4-.9,1-1,1.4,0l9.2,22.6A26.9,26.9,0,0,0,448.2,110.6Z"
      transform="translate(0 0)"
      style="fill: #283747"
    />
    <path
      d="M64.9,58.2,41.9,5c-1.1-2.6-2.9-2.5-4,0L15.3,58.2h9.3l.4-.9a17.44,17.44,0,0,1,15.2-7.9,17.27,17.27,0,0,1,15,7.7l.4,1.1ZM40.1,42.1A28.08,28.08,0,0,0,30.2,44l9-22.7c.4-.9,1-.9,1.4,0l9.1,22.6A26.37,26.37,0,0,0,40.1,42.1Z"
      transform="translate(0 0)"
      style="fill: #283747"
    />
    <path
      d="M99.5,58.2H85V4.1h20.5c14.6,0,22.8,9.2,22.8,21.2s-8.2,21.2-22.8,21.2h-6Zm5.3-23.9c6.5,0,8.9-3.7,8.9-8.9s-2.4-9-8.9-9H99.5V34.3Z"
      transform="translate(0 0)"
      style="fill: #283747"
    />
    <path
      d="M178.9,58.2H163.2l-7.6-12.4h-5.4V58.2H135.7V4.1h20.5c14.6,0,22.8,9.2,22.8,21.2,0,7.8-3.4,14-9.8,17.5ZM155.6,34.3c6.5,0,8.9-3.7,8.9-8.9s-2.4-9-8.9-9h-5.3V34.3Z"
      transform="translate(0 0)"
      style="fill: #283747"
    />
    <path
      d="M329.1,3.9c.1-.5.4-.5.7-.1l25.8,29L381,3.8c.3-.4.6-.5.7.1l3.2,54.3H370.8l-1.3-22.9L356,50.9c-.1.2-.4.2-.6.1l-.1-.1-14-15.7-1.2,23H326Z"
      transform="translate(0 0)"
      style="fill: #283747"
    />
    <path
      d="M229.9,19.3c-1.8.5-3.3.3-4.1-.6h0c-.9-.9-1.1-2.3-.6-4.1l2-7.4A30.74,30.74,0,0,0,213,3.7c-15.5,0-28.9,11.3-28.9,27.5S197.5,58.8,213,58.8s28.9-11.4,28.9-27.6a27.19,27.19,0,0,0-4-14.2Zm-17,27.1c-9,0-14.2-6.7-14.2-15.1s5.1-15,14.2-15,14.2,6.6,14.2,15-5.2,15.1-14.2,15.1Z"
      transform="translate(0 0)"
      style="fill: #283747"
    />
    <path
      d="M233,11.5c.9.9,2.3,1.1,4.1.6L245,9.8A26.59,26.59,0,0,0,234.3,0l-2,7.4c-.4,1.8-.2,3.2.7,4.1Z"
      transform="translate(0 0)"
      style="fill: #283747"
    />
    <path
      d="M418.1,4.7c-1.1-2.4-2.5-2.4-3.6,0L389.2,58.1h14.5a16,16,0,0,1,22.4-2.8,12.81,12.81,0,0,1,2.6,2.6l.1.2h14.6ZM416.5,42a35.5,35.5,0,0,0-5.6.6l3.3-7.1c1.1-2.4,2.9-2.4,4,0l3.4,7.1a41.83,41.83,0,0,0-5.1-.6Z"
      transform="translate(0 0)"
      style="fill: #283747"
    />
    <path
      d="M301.6,4.1h14.5V58.2H301.6Z"
      transform="translate(0 0)"
      style="fill: #283747"
    />
    <path
      d="M275,44.6c-.8,1.8-1.9,1.8-2.7,0l-6.4-13.5-12.8,27h11A12,12,0,0,1,281,56a12.61,12.61,0,0,1,2,2v.1h11.1l-12.8-27Z"
      transform="translate(0 0)"
      style="fill: #ef4123"
    />
    <path
      d="M275,17.6l6.4,13.5,12.8-27h-11a12.1,12.1,0,0,1-17,2.1,18,18,0,0,1-2-1.9V4.2H253.1l12.8,27.1,6.4-13.5C273.1,15.9,274.1,15.8,275,17.6Z"
      transform="translate(0 0)"
      style="fill: #ef4123"
    />
    <path
      d="M275,44.6l6.4-13.5L275,17.6c-.8-1.8-1.9-1.8-2.7,0l-6.4,13.5,6.4,13.5C273.1,46.4,274.2,46.4,275,44.6Z"
      transform="translate(0 0)"
      style="fill: #8c2004"
    />
  </svg>
</template>
