<template>
  <svg
    id="Layer_1"
    data-name="Layer 1"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 471.04 72.73"
  >
    <defs>
    </defs>
    <path
      class="cls-1"
      d="M136.53,39.07l0-2.84c-.35,0-.54-.07-.58-.23a1.29,1.29,0,0,1,0-.58c.06-.23.12-.49.2-.78a1.83,1.83,0,0,0,0-.9l-3.54,0-.35-.34a.62.62,0,0,0,.12.17q.06.18-.12.18a16.56,16.56,0,0,0-3-.33,17.57,17.57,0,0,1-3-.32q-.28,0-.18-.18c.08-.11,0-.27-.17-.46v.64a5.41,5.41,0,0,1-2.14.16,16.89,16.89,0,0,0-2.15-.13h-.35c-1.74-.15-3.44-.22-5.08-.23h-5.14l.35.29c-.19,0-.31.05-.35.15s-.15,0-.35-.14V33h-1.16a.24.24,0,0,1-.06.17.31.31,0,0,1-.23.12l-.23-.12L108.8,33a.53.53,0,0,0-.24-.06.29.29,0,0,1-.31.21,2.83,2.83,0,0,1-.44-.11,3.51,3.51,0,0,0-.49-.15,1,1,0,0,0-.55.07c0,.15-.12.2-.35.14s-.35,0-.35.15V34a.48.48,0,0,1,.23.37c0,.14,0,.27,0,.38a.44.44,0,0,0,0,.29c0,.08.19.12.46.11-.11,0-.21.12-.29.35a1.48,1.48,0,0,0,0,.35,3,3,0,0,1,0,.44c0,.14-.12.2-.31.2a.91.91,0,0,1,.23.5,1.44,1.44,0,0,1,0,.37,3.29,3.29,0,0,0-.09.32c0,.1.07.19.27.26l-.35.41,0,2.79a2.87,2.87,0,0,0-.34,1,2.7,2.7,0,0,1-.34,1,2.59,2.59,0,0,0,.35.32,1.14,1.14,0,0,0,.35,0,8.79,8.79,0,0,1,2.5.32,4.9,4.9,0,0,0,2.5,0h.34a1.46,1.46,0,0,1,.35-.18c.23-.07.35,0,.35.18a.56.56,0,0,0,.64.16c.27-.07.41,0,.41.18l.34-.76a6.21,6.21,0,0,1,0,3.95,3.05,3.05,0,0,1,.15,1.16c0,.42,0,.85,0,1.27a11.48,11.48,0,0,0,0,1.31,2.73,2.73,0,0,0,.32,1.19,5.09,5.09,0,0,0-.12,2.09,16.57,16.57,0,0,1,.16,2.14l0,5.23a.73.73,0,0,1,0,1.16c.21,2,.34,3.8.39,5.48s.18,3.49.39,5.42l.35.35a.35.35,0,0,1,.52-.12c.19.11.49.27.87.46v-.35H117a.67.67,0,0,0,1.1,0,.7.7,0,0,1,.35-.35,1.4,1.4,0,0,1,.49-.15l.49-.06a.92.92,0,0,0,.41-.15v.69a.94.94,0,0,0,.24.18.64.64,0,0,0,.46.17q.81,0,1-.39a1.92,1.92,0,0,1,.43-.67.53.53,0,0,1,.23.06l.23.11.29.17v-.34a2.1,2.1,0,0,0,.76.45,1,1,0,0,0,.93-.12h.4c.19-.51.43-1.11.72-1.81a21.49,21.49,0,0,0,.71-2l0,2.84a20.72,20.72,0,0,0,.26-3.46,17.46,17.46,0,0,0-.31-3.27q0-3.31,0-6.39t.27-6c-.2-.19-.2-.36,0-.52a.64.64,0,0,0,.29-.52.82.82,0,0,1-.47-.32.93.93,0,0,1-.12-.43,4.46,4.46,0,0,1,0-.5,1.12,1.12,0,0,0-.09-.55c.15,0,.19-.1.11-.29l-.12-.35a.49.49,0,0,1,.06-.17c.12-.12.21-.18.29-.18a3.75,3.75,0,0,1-.62-1.62,12.58,12.58,0,0,1-.1-1.62,1.19,1.19,0,0,0,.2-.41c.05-.19.11-.38.17-.55a1.15,1.15,0,0,1,.23-.44c.09-.12.22-.12.37,0a1.85,1.85,0,0,0,.32-.38,1.17,1.17,0,0,0,0-.32l7.83-.41a.91.91,0,0,1,.7,0,.62.62,0,0,1,.2.41c0,.17,0,.36,0,.55a.58.58,0,0,0,.11.4,1.08,1.08,0,0,0,.32-.75c0-.31,0-.64,0-1a1,1,0,0,1-.27-1.13,3.09,3.09,0,0,0,.25-1.31,2.31,2.31,0,0,0-.09-.61A3.5,3.5,0,0,1,136,40a1.36,1.36,0,0,1,0-.58A.66.66,0,0,1,136.53,39.07Zm-28.25,2.17c0,.09-.15,0-.35-.15a8.51,8.51,0,0,0-.1-1.27,1.79,1.79,0,0,0-.61-1.16c0-.19,0-.42-.07-.69a.45.45,0,0,0-.17-.35.93.93,0,0,1,.4.26,2.08,2.08,0,0,1,.3.43,2.65,2.65,0,0,1,.2.49,1,1,0,0,0,.39.49v1.05c-.19.19-.18.32,0,.37a.38.38,0,0,1,.32.38C108.43,41.09,108.32,41.14,108.28,41.24Zm2.86,1.92h.35v.34Zm5.11,30.38h-.35a.88.88,0,0,1,.06-.29c.07-.24.17-.35.28-.35v.29h.4Zm1.62-.1a.66.66,0,0,0-.37-.24,1,1,0,0,1,.37.12c.16.1.24.05.23-.15C118.11,73.52,118,73.61,117.87,73.44Zm4.52-39.6v-.35h.35Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M105.46,44.31c0,.19,0,.31-.14.35s0,.13.14.28l.35-.29a.82.82,0,0,1-.32,0S105.46,44.5,105.46,44.31Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M140.64,73.83v.4l.35.35a.39.39,0,0,0-.17-.38A.37.37,0,0,1,140.64,73.83Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M166.87,88.32c.19-.2.24-.29.14-.29S166.87,88.12,166.87,88.32Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M164.87,67.68c.1.06.15.18.15.38.19-.2.24-.32.14-.38a.42.42,0,0,1-.14-.38C164.82,67.5,164.78,67.62,164.87,67.68Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M164.61,66.61a1,1,0,0,0,0-.32.79.79,0,0,0-.32,0Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M142,36.45a1.16,1.16,0,0,1-.09-.49h-.35v.7C141.91,36.66,142.06,36.59,142,36.45Z"
      transform="translate(-19.6 -20.33)"
    />
    <polygon
      class="cls-1"
      points="129.1 53.66 129.86 53.65 129.45 53.31 129.1 53.66"
    />
    <path
      class="cls-1"
      d="M166.24,49.3a2.91,2.91,0,0,0,0-.47l-.35.35C166.12,49.38,166.22,49.41,166.24,49.3Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M165.55,49.94a3.41,3.41,0,0,0,.17-.41,1,1,0,0,1,.2-.35v-.69c0,.54-.12.86-.37,1a1.86,1.86,0,0,0-.67.44c.16.19.3.28.41.26A.34.34,0,0,0,165.55,49.94Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M149,70.33a1.11,1.11,0,0,1,.14-.56c.1-.17.05-.35-.15-.55Z"
      transform="translate(-19.6 -20.33)"
    />
    <polygon
      class="cls-1"
      points="142.03 36.84 141.68 36.49 142.03 37.19 142.03 36.84"
    />
    <path
      class="cls-1"
      d="M166.11,73.1a93.11,93.11,0,0,0-2.71-9q-1.58-4.37-3.23-8.71a.45.45,0,0,1,0-.4,1.92,1.92,0,0,1,.23-.35,1.5,1.5,0,0,0,.23-.41.87.87,0,0,0-.09-.64,4.05,4.05,0,0,1,0,.52c0,.16-.12.24-.31.24a1.11,1.11,0,0,1-.62-.78,5.69,5.69,0,0,1-.09-1,2.14,2.14,0,0,1,1.27-.21,3.54,3.54,0,0,0,1.24-.11,1.9,1.9,0,0,0,0,.3h.35v-.41c.38-.35.75-.71,1.09-1.08a7.66,7.66,0,0,0,.89-1.14,4.41,4.41,0,0,0,.55-1.19,3,3,0,0,0,0-1.31c.19-.54.35-1,.49-1.45a5.23,5.23,0,0,0,.19-1.51c.11-.12.21-.16.29-.12a.34.34,0,0,1,.06.12c0-.2,0-.37,0-.53a1,1,0,0,0-.32-.52h.35a17.56,17.56,0,0,0,.14-3.77,17.65,17.65,0,0,1,.15-3.84c-.2,0-.25-.06-.15-.2a.79.79,0,0,0,.14-.49.86.86,0,0,1,.23-.56c.15-.17.32-.36.52-.55l.35.34a1.06,1.06,0,0,0,0-.34,2.39,2.39,0,0,0-.33-.35l-.34.35c.19-.19.22-.36.08-.49a.64.64,0,0,0-.49-.2A9.64,9.64,0,0,0,164,33c-.72,0-1.35-.05-1.89-.05a1.61,1.61,0,0,0-.67-.08l-.75.07a5.21,5.21,0,0,1-.79,0,.88.88,0,0,1-.64-.31l-6.15,0a2.22,2.22,0,0,1-.61.47.84.84,0,0,1-.84-.11,1.58,1.58,0,0,1-1.3,0,1.69,1.69,0,0,0-1.25,0c-.2,0-.32,0-.38-.14s-.18,0-.38.15c-.19-.19-.37-.25-.52-.17s-.33,0-.52-.17c0-.19-.08-.24-.24-.14a1,1,0,0,1-.52.14c0,.39-.2.55-.6.47a6.17,6.17,0,0,0-1.19-.1,1.29,1.29,0,0,1-.55.35,2.51,2.51,0,0,1-.55.06,4.22,4.22,0,0,0-.53,0c-.15,0-.23.13-.23.33l-.35-.35a2.57,2.57,0,0,0-.31,1.11c0,.38,0,.8,0,1.24s.05.89.07,1.34a6.29,6.29,0,0,1-.08,1.36c0,3.06,0,6.18-.13,9.38s-.25,6.34-.42,9.43a2.86,2.86,0,0,1,.16,1.51,6.43,6.43,0,0,0-.14,1.45q0,3.26-.09,6.48a47.65,47.65,0,0,0,.2,6.52c.19-.19.29-.22.31-.08s0,.3,0,.49a.85.85,0,0,1,.29.08,1.12,1.12,0,0,0,.35.12.31.31,0,0,0,.29-.09.86.86,0,0,0,.11-.53,2.06,2.06,0,0,1,.52.06c.16,0,.23.15.24.34.66.31,1.14.31,1.45,0l.41.35h.34a.51.51,0,0,1,.52-.24,1.88,1.88,0,0,1,.56.2,3.93,3.93,0,0,0,.52.23.56.56,0,0,0,.55-.21,19.94,19.94,0,0,0,.4-4.88c-.07-1.59-.11-3.11-.12-4.58l.34-.36c0-.19,0-.43.05-.72a1.23,1.23,0,0,1,.35-.73A9.63,9.63,0,0,1,149,60.6c0-.67,0-1.34,0-2s.08-1.3.15-1.94a15.19,15.19,0,0,0,.11-1.89.67.67,0,0,0,.16-.7c-.08-.27,0-.4.18-.41a5.1,5.1,0,0,0,1.62-.27,1.83,1.83,0,0,1,1.63.25,20.83,20.83,0,0,0,1,3.44c.45,1.22.88,2.37,1.27,3.45.56,1.43,1.17,2.85,1.84,4.28s1.28,2.76,1.83,4c.19.54.38,1.06.56,1.56s.37,1,.56,1.39a1,1,0,0,1,.18.81.53.53,0,0,0,.18.58v.76a.75.75,0,0,1,.89-.47,4.79,4.79,0,0,0,.9.1c.2.2.26.37.18.53s0,.32.18.52a.47.47,0,0,0,.38-.12c0-.08.1-.16.14-.24a.92.92,0,0,0,.09-.23c0-.08.06-.11.14-.12l2.55,0a1.41,1.41,0,0,1,0-.37A1.38,1.38,0,0,1,166.11,73.1ZM142.66,43.91v-.35H143v.35ZM143.89,38a.28.28,0,0,1-.17-.29l.41.34A.69.69,0,0,1,143.89,38Zm9.64,15.42a1.13,1.13,0,0,1-.23-.17c.19,0,.3-.07.32-.21a3.55,3.55,0,0,0,0-.49.43.43,0,0,1,.29.17.49.49,0,0,1,.06.17c-.34,0-.43.07-.26.21a.59.59,0,0,1,.27.49A.66.66,0,0,1,153.53,53.46Zm5.8-8.66a.29.29,0,0,0-.12.14,1.87,1.87,0,0,0-.17.35c-.19,0-.26-.06-.2-.17s0-.18-.21-.17v.34a.54.54,0,0,1-.29.15l-.32.06c-.1,0-.16.07-.17.15A.56.56,0,0,0,158,46a.38.38,0,0,0-.47-.12l-.23.12a1.05,1.05,0,0,0-.4.56,2.38,2.38,0,0,0-.06.55.7.7,0,0,0-.49.2.72.72,0,0,0-.2.5h-.35l-3.25,0a.46.46,0,0,0-.06-.18.47.47,0,0,0-.29-.17,16.2,16.2,0,0,1-.1-2.2c0-.74,0-1.46.07-2.18s0-1.43.07-2.15a15.94,15.94,0,0,0-.11-2.17.74.74,0,0,0,.9,0,1.42,1.42,0,0,1,.9-.33h.35v.35a.91.91,0,0,0,.52-.15c.16-.1.24,0,.24.14v.41a1.3,1.3,0,0,1,.52-.56,1.51,1.51,0,0,1,.58-.15l.64,0a2.24,2.24,0,0,0,.81-.1l.72,0a1.11,1.11,0,0,1,.73.31,1,1,0,0,1,.52-.32,4.17,4.17,0,0,1,.52,0l0,4.7-.35.35c0,.19.12.31.36.34s.35.16.35.35h-.35a9.2,9.2,0,0,0,.16,1.68,3.13,3.13,0,0,1-.14,1.63,2.17,2.17,0,0,0-.35-1.1,2.57,2.57,0,0,1-.36-1.39C159.39,44.82,159.37,44.78,159.33,44.8Zm2.25,28.48c.08.09,0,0-.18-.15h.35C161.56,73.13,161.5,73.18,161.58,73.28Zm1.28.25a.41.41,0,0,1,.17-.35.24.24,0,0,1,.17-.06v.41Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M162.77,61.51a.53.53,0,0,0,.06.24.22.22,0,0,0,.12.13s0-.08,0-.16S163,61.51,162.77,61.51Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M161.64,57.87l.36,1.5c.27-.08.42-.18.46-.32a.52.52,0,0,0-.09-.41,3.45,3.45,0,0,0-.38-.4A1.66,1.66,0,0,1,161.64,57.87Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M142.58,33.05v-.69h-.34a3.38,3.38,0,0,0,0,.49C142.28,33,142.39,33.06,142.58,33.05Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M149,64.52v.76a.46.46,0,0,1,.06-.18l.11-.11a.33.33,0,0,1,.23-.06Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M163.89,64.81h.35a.55.55,0,0,0-.17-.35.62.62,0,0,0-.18,0Z"
      transform="translate(-19.6 -20.33)"
    />
    <polygon
      class="cls-1"
      points="138.69 24.97 139.04 24.96 138.69 24.62 138.69 24.97"
    />
    <polygon class="cls-1" points="142 32.55 141.65 32.9 142 32.89 142 32.55" />
    <path
      class="cls-1"
      d="M161.42,56.5c.1,0,.05,0-.14,0v.34C161.28,56.63,161.32,56.52,161.42,56.5Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M193.63,60.52a1,1,0,0,0-.37.19A.42.42,0,0,0,193.63,60.52Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M210.26,65.5a10.61,10.61,0,0,1-.64-1,3.36,3.36,0,0,0-.82-1,.41.41,0,0,0,.1.58,1.15,1.15,0,0,0,.48.28Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M194.31,60.32c-.32-.32-.51-.34-.57,0a.82.82,0,0,1-.11.25.6.6,0,0,1,.35,0C194.2,60.58,194.32,60.51,194.31,60.32Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M230.17,61.49c-.32-.32-.51-.4-.58-.24a.37.37,0,0,1-.38.24,9.68,9.68,0,0,0-1.7-2,12.76,12.76,0,0,1-1.8-2c-.71-.77-1.34-1.47-1.89-2.11a10.15,10.15,0,0,0-2-1.72q0-.77-.06-1.2a1.78,1.78,0,0,0-.34-.82,4.74,4.74,0,0,1-1.69-.32,2.23,2.23,0,0,1-1.31-1.1l-.38.49c-1.1,0-2.09,0-3-.08a5,5,0,0,1-2.42-.75,1,1,0,0,0,.72-.34,7.24,7.24,0,0,0,.62-.73,1,1,0,0,1,.53-.39l.63-.15a1.08,1.08,0,0,0,.52-.24,1,1,0,0,0,.24-.78,10.72,10.72,0,0,1,1.72-1.89,8.12,8.12,0,0,0,1.62-1.89,1.32,1.32,0,0,0,.58-.58c.06-.2.22-.29.48-.3a4.17,4.17,0,0,1,1.91-2.08,2.8,2.8,0,0,0,1.52-1.89,1.66,1.66,0,0,1,.48-1.41,2,2,0,0,1,1.15-.34c.45,0,.93,0,1.45,0a2.16,2.16,0,0,0,1.34-.35,14.12,14.12,0,0,0-.31-2.84,14.64,14.64,0,0,1-.31-2.94c0-1.67,0-3.34,0-5a24.51,24.51,0,0,1,.49-4.73,1.13,1.13,0,0,0-.77-.33,2.74,2.74,0,0,0-.53.15,1.1,1.1,0,0,1-.43.1c-.13,0-.26-.1-.39-.29l-5.78.05c-1.23-.63-2.22-.63-3,0q-3.18,0-6.89.29c-2.47.19-4.83.41-7.08.69v-.49c-4.43.3-8.86.6-13.29.93s-8.74.75-12.91,1.3a.94.94,0,0,1-1.44,0,11.47,11.47,0,0,0-1.4.64,2.19,2.19,0,0,1-.91.34V25c0,.52,0,1.15.07,1.88a2.74,2.74,0,0,0,.35,1.49A2.18,2.18,0,0,1,175.8,28c.74.28,1.47.55,2.18.8a.65.65,0,0,0-.34.1,3.4,3.4,0,0,1-.34.2l-.28.29a4.43,4.43,0,0,1-2.07.11,4.2,4.2,0,0,1-1.7-.66,10.09,10.09,0,0,1,0,4.82,8.71,8.71,0,0,1,.35,1.92c0,.58.06,1.19.07,1.83a3,3,0,0,1,1.83.57,2.53,2.53,0,0,0,1.55.56q4-.41,7.85-.83c2.53-.27,5.25-.42,8.14-.45q.76,0,1.68-.06A1.09,1.09,0,0,1,196,38l-.38,1A3.7,3.7,0,0,0,194.45,40c-.26.39-.54.84-.86,1.36a5.49,5.49,0,0,0-2.3,1.75l-1.53,2.13a.28.28,0,0,1,.2.1.53.53,0,0,1,.19.38,5.12,5.12,0,0,0-1.13,3,14.29,14.29,0,0,1-.65,3.28.92.92,0,0,1,.2.67v.92a1.08,1.08,0,0,0,.24.72q.24.28,1,.09a9.78,9.78,0,0,0-1.05,2.22,7.5,7.5,0,0,0-.37,2.32c.9.18,2,.37,3.14.55a21.81,21.81,0,0,0,3.62.26c.32,0,.33,0,0,.05s-.31.21,0,.53a9,9,0,0,1,1.16.09c.45.06.67-.17.67-.68l.58,1a2.81,2.81,0,0,1,2.22-.4,4,4,0,0,0,2.12,0v.38a5.64,5.64,0,0,1,0,.73.38.38,0,0,1-.43.34c.51,0,.77-.2.76-.59s.29-.67.86-.87a3.12,3.12,0,0,1,2.32.85v-.48H206v1.06a5.26,5.26,0,0,0,.73,1.35,1.43,1.43,0,0,0,1.21.57c0-.52-.14-.82-.39-.92a1.33,1.33,0,0,1-.68-.62v.58a2.21,2.21,0,0,0-.34-1.06q-.35-.57.33-1c.12.13.17.24.14.33a1.18,1.18,0,0,0,0,.34.81.81,0,0,0-.1.39h.39v-.57h.68c.25,0,.32.16.2.48s-.13.36-.19.48a.81.81,0,0,1,.67.43.51.51,0,0,0,.78.14,1,1,0,0,0,.29.63.82.82,0,0,0,.58.33.47.47,0,0,0,.25.43c.16.1.3.17.43.24a1.16,1.16,0,0,1,.34.24c.1.09.11.27.05.53.13,0,.2,0,.2.09a.26.26,0,0,0,.09.19.28.28,0,0,0,.1.19c.77.19,1.15.45,1.12.77s0,.86,0,1.64a18.49,18.49,0,0,0-2.16,1.17,11.32,11.32,0,0,0-2.15,1.75c-.77.52-1.6,1-2.5,1.56a2.83,2.83,0,0,1-2.4.41q-7.33-.33-14.85-.81A108.21,108.21,0,0,0,174,72a1,1,0,0,1-.57.25l-.87.1a6.17,6.17,0,0,0-.91.15A.9.9,0,0,0,171,73a2.41,2.41,0,0,1,.26,1.54,3.48,3.48,0,0,0,.25,1.83c.26,0,.37.06.34.19a1.42,1.42,0,0,1-.19.43q-.14.24-.24.48a.39.39,0,0,0,.1.44,1.35,1.35,0,0,0-.62.82,3.9,3.9,0,0,0-.13,1.06v1.06a2.28,2.28,0,0,1-.09.82h-.48l.49,1.15a1.46,1.46,0,0,1,.4,1.59,2.54,2.54,0,0,0,0,1.68,12.66,12.66,0,0,1-.08,1.55c-.06.57.13.86.58.86a1.39,1.39,0,0,0-.42.82,8.9,8.9,0,0,0,0,1.11h-.39v1.45a.81.81,0,0,1,.43-.68.89.89,0,0,0,.43-.77,20.91,20.91,0,0,0,5.06.29,14.39,14.39,0,0,1,5.07.59.91.91,0,0,1,.81-.15,2,2,0,0,0,.73.14,1.27,1.27,0,0,1,1.25,0,1.18,1.18,0,0,0,1.25-.06,5,5,0,0,0,1.45-.25c.51-.17.67.2.49,1.1h.38a.89.89,0,0,0,.59.77c.38.19.58.15.57-.11a3,3,0,0,1,1.83-1,7,7,0,0,0,1.92-.6c.06,0,.19.1.39.29a.3.3,0,0,1,.1.19.41.41,0,0,0,.47-.48,6.27,6.27,0,0,1,2.36-.17,21.38,21.38,0,0,0,2.46.13,4.08,4.08,0,0,0,1.88-.45,1.32,1.32,0,0,1,1.49,0,4.24,4.24,0,0,1,2.27-.21,2.13,2.13,0,0,0,2.16-.89,1.78,1.78,0,0,0,1.54.09c.58-.2.87-.07.87.38.32-.26.58-.36.77-.3s.29-.13.28-.58l7.13-1.11a5.51,5.51,0,0,0,1-.16,1.18,1.18,0,0,1,1,.14,4.9,4.9,0,0,1,2.69-.69,6.41,6.41,0,0,0,3.18-.9c.26.32.48.39.67.19a6.66,6.66,0,0,1,.67-.58,9.26,9.26,0,0,0,1-.06c.35,0,.52-.18.52-.44a2.58,2.58,0,0,0,.86-1.35A9.39,9.39,0,0,0,229,82.7c0-.58.07-1.16.13-1.74a3.26,3.26,0,0,1,.56-1.54,3.32,3.32,0,0,1-.4-2.51,7.21,7.21,0,0,0,0-2.89l.38-.39a2.79,2.79,0,0,0,0-3,10.18,10.18,0,0,0,.21-3.86,40.91,40.91,0,0,1-.28-4.34q.48,0,.15-.33T230.17,61.49ZM174.69,33.63a1.93,1.93,0,0,1-1-.33,1,1,0,0,1,1.16-.2,9.68,9.68,0,0,0,1.16.57C175.54,33.67,175.11,33.66,174.69,33.63Zm12-4.29c-.25-.25-.26-.44,0-.57s.25-.45,0-1h.58Zm22.4-1.42c.35.06.53,0,.53-.29,0,.64-.35,1-1.05,1C208.52,28.08,208.7,27.86,209.05,27.92Zm-3.74,21.52h-.86a3.43,3.43,0,0,1,1.67-1.94,18.36,18.36,0,0,0,2.54-1.95,1.35,1.35,0,0,0,.81-.25,1.13,1.13,0,0,1,.63-.24c.25-.2.51-.41.76-.64a1.14,1.14,0,0,1,.68-.34ZM174.26,78.16Q174,78,174,78.4c-.19,0-.22-.14-.1-.43s.32-.31.58-.06C174.5,78.17,174.42,78.25,174.26,78.16ZM208.05,80l.48-.39c0,.19.17.26.49.19s.48,0,.48.19ZM219,60.51q-.39,0-.24-.24c.09-.16,0-.4-.25-.72-.19,0-.26.15-.19.44s0,.34-.19.14c0-.32-.09-.51-.25-.57s-.08-.23.24-.49c0,.26.2.44.58.53S219.18,60,219,60.51Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M170.9,85.94a1.83,1.83,0,0,0-.29-.53,1.2,1.2,0,0,1-.25-.52c0-.2.08-.39.33-.59,0-.51-.1-.72-.29-.62a3.65,3.65,0,0,0-.77.63.78.78,0,0,1-.28.58l-.53.54a1.31,1.31,0,0,0-.33.53c-.06.19,0,.42.3.67a1,1,0,0,1,.91.43c.17.29.5.27,1-.06v-.38A.78.78,0,0,0,170.9,85.94Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M208.44,67c.25.25.45.38.58.38a.39.39,0,0,0,.38,0c.26-.19.21-.4-.15-.62a1.76,1.76,0,0,0-.82-.33Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M227.59,39.24c.26.19.38.37.34.53a1.57,1.57,0,0,1-.18.48c-.1.17-.18.31-.24.44a.31.31,0,0,0,.1.39,1.07,1.07,0,0,1,.33-.83,3.2,3.2,0,0,0,.62-1,1.55,1.55,0,0,1-.2-1.11,1.6,1.6,0,0,0-.21-1.11,4.18,4.18,0,0,0-.52,1.31A8.84,8.84,0,0,0,227.59,39.24Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M229.4,36.15H229l-.48.48a1.24,1.24,0,0,0,.48-.05A1.78,1.78,0,0,0,229.4,36.15Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M204.49,61.83a4.13,4.13,0,0,0,0-.72.93.93,0,0,0-.77.34,1,1,0,0,0-.29.63H204C204.29,62.07,204.46,62,204.49,61.83Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M167.46,83.37a.77.77,0,0,1-.14.19.26.26,0,0,0-.1.19q-.28-.37-.87.15c-.38.36-.57.64-.57.83l1.45.47c.26-.26.32-.42.19-.48a.4.4,0,0,1-.19-.39c0-.25.12-.27.38,0s.29.24.1,0a.27.27,0,0,1-.05-.39,3.39,3.39,0,0,1,.28-.34.36.36,0,0,0,.15-.24c0-.06-.13-.09-.39-.09S167.49,83.3,167.46,83.37Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M234.76,38.2a.46.46,0,0,1,.23-.06h-.41v.35A.34.34,0,0,1,234.76,38.2Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M247.74,59a.21.21,0,0,1-.06-.17.65.65,0,0,0-.29.06c-.15.08-.17.18,0,.29h.7A.26.26,0,0,1,247.74,59Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M258.76,42v.35l.35.4a.34.34,0,0,0,.29-.18.46.46,0,0,0,.06-.23c-.2-.19-.32-.25-.35-.17S259,42.21,258.76,42Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M234.87,52.77c0-.16-.14-.33-.53-.52v1.1l.75-.35C234.91,53,234.83,52.92,234.87,52.77Z"
      transform="translate(-19.6 -20.33)"
    />
    <path class="cls-1" d="M253,33.53h0Z" transform="translate(-19.6 -20.33)" />
    <path
      class="cls-1"
      d="M263.75,42.33h.7V42a1,1,0,0,0-.35.06C263.87,42.11,263.75,42.21,263.75,42.33Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M235.57,53.72a2.13,2.13,0,0,0,.29.31v-.34C235.67,53.69,235.57,53.7,235.57,53.72Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M268.07,38.23c-.34,0-.51-.14-.49-.43a1.11,1.11,0,0,0-.21-.73,4.65,4.65,0,0,1,.3-1.65,2.32,2.32,0,0,0,0-1.66v.41a6.88,6.88,0,0,1-2.43.16,15.72,15.72,0,0,0-1.86-.13,1.1,1.1,0,0,1-.55.09,2,2,0,0,1-.53-.11,3,3,0,0,0-.55-.11.7.7,0,0,0-.52.15,3.55,3.55,0,0,0-1.45-.34c-.62,0-1.13-.05-1.51,0h-.35l-2.15,0a1.74,1.74,0,0,1-1.42,0,2.85,2.85,0,0,0-1.11-.3,2,2,0,0,1-.6.28c-.08,0-.22-.09-.41-.29a1.09,1.09,0,0,1-.49.1,2.71,2.71,0,0,1-.41-.09,2.87,2.87,0,0,0-.44-.08.76.76,0,0,0-.46.09c-.58,0-1.08,0-1.51,0a4.79,4.79,0,0,1-1.45-.31.47.47,0,0,1-.58.15,2,2,0,0,0-.82-.14,4.85,4.85,0,0,0-1.45-.39c-.43,0-.91-.05-1.45-.05l-2.5,0a.82.82,0,0,0-.18-.52.87.87,0,0,1-.17-.52h-1.86a2.69,2.69,0,0,1-.31,1.17,1.77,1.77,0,0,0,0,1.45c-.19.19-.36.39-.52.58a1.49,1.49,0,0,0-.22.93h.4c-.15-.12-.15-.21,0-.29a.79.79,0,0,1,.35-.06.65.65,0,0,1-.06.29c-.07.16-.17.17-.29.06,0,.19-.06.25-.2.18s-.2,0-.2.17a2.24,2.24,0,0,1-.6.7l-.78.62a8.5,8.5,0,0,0-.78.7,3.94,3.94,0,0,0-.66.91v-.35a1.41,1.41,0,0,0-.4.73c-.08.29.06.43.41.43a.91.91,0,0,0,0,.61c.06.21.11.41.15.61a.89.89,0,0,1,0,.46c0,.12-.19.18-.46.18a.57.57,0,0,0-.11.69c.12.28.27.41.47.41a2.17,2.17,0,0,1,0-.53.31.31,0,0,1,.35-.23,1,1,0,0,1-.14.52c-.1.16,0,.24.14.23a13,13,0,0,0-.18,2.94,9.28,9.28,0,0,1-.18,2.64v.7h-.35v.35h.35c0,.24-.06.32-.17.24s-.18,0-.18.23a.73.73,0,0,1,.16.78,3.49,3.49,0,0,0-.14,1,.81.81,0,0,1,.43-.09.59.59,0,0,1,.27.14l.2.23a.26.26,0,0,0,.2.12c.2.38.45.82.74,1.3a14.47,14.47,0,0,1,.74,1.36l.11.23a.55.55,0,0,1-.11.46,2.22,2.22,0,0,0,.53.49,1.47,1.47,0,0,0,.87.2v.81h.34v.35a2.25,2.25,0,0,1,.72.14.68.68,0,0,0,.73-.15c.12.34.28.55.5.6a1.58,1.58,0,0,0,.69,0l.73-.13a.8.8,0,0,1,.64.17.39.39,0,0,1,.46-.12l.23.12c.2,0,.32,0,.38.11a1.2,1.2,0,0,0,.18.2,1.14,1.14,0,0,0,.17.15c.06,0,.19,0,.38-.12v-.35h1.1a3.43,3.43,0,0,0,1.16.37c.43,0,.88.09,1.37.1l1.45.05a7.47,7.47,0,0,1,1.42.19l.35.35.7-.35c.19.38.38.54.55.46a1.33,1.33,0,0,1,.55-.12,1.41,1.41,0,0,0,1.08.13,3.8,3.8,0,0,1,1-.15l.45,5.22a1.46,1.46,0,0,1-1.1.15,3.78,3.78,0,0,0-1.05-.13c0,.19,0,.31-.11.35a.73.73,0,0,1-.32.06l-.46,0a1,1,0,0,0-.55.32c0-.19,0-.3-.12-.32l-.23,0a.53.53,0,0,1-.24-.06c-.08,0-.11-.15-.12-.35l-3.65,0v.35a.47.47,0,0,0-.38-.32,3,3,0,0,0-.52,0l-.49.06a.38.38,0,0,1-.35-.09l-2.91,0c0,.19,0,.28-.11.26a.92.92,0,0,1-.23-.09l-.24-.08c-.07,0-.11.07-.11.26-.2-.19-.38-.25-.55-.17s-.36,0-.56-.17a.46.46,0,0,0-.28.18.43.43,0,0,0-.06.17,1.22,1.22,0,0,1-1.13,0,1.24,1.24,0,0,0-1.08,0,3.1,3.1,0,0,0-1.62-.13,11.6,11.6,0,0,1-1.92.16,6.74,6.74,0,0,0-.33,1.77c0,.6-.05,1.2-.05,1.8s0,1.2,0,1.8a6.33,6.33,0,0,1-.31,1.77,4.8,4.8,0,0,0,0-.55.28.28,0,0,0-.32-.26.79.79,0,0,0-.72.3,1.18,1.18,0,0,0-.2.72,4.28,4.28,0,0,0,.09.87,3.78,3.78,0,0,1,.09.73c0,.19.13.26.38.2s.38,0,.38.2.17.28.27.26a.54.54,0,0,0,.26-.15,1.06,1.06,0,0,1,.26-.2c.09-.06.2,0,.32.08a4.75,4.75,0,0,0,.87-.06,1.14,1.14,0,0,0,.57-.36v.41a6.23,6.23,0,0,0,1.3.08c.45,0,.91-.07,1.4-.13s1-.1,1.47-.13a6.08,6.08,0,0,1,1.57.14,4.57,4.57,0,0,0,2,.15,6.49,6.49,0,0,1,2.29.16,4.8,4.8,0,0,0,2.35,0,6.46,6.46,0,0,1,2.7,0,6.09,6.09,0,0,1,2.2-.19,7.78,7.78,0,0,0,2.44-.19.84.84,0,0,1,.95-.5,8.83,8.83,0,0,0,1.19.07,2.56,2.56,0,0,1,.73.14.65.65,0,0,0,.73-.15.93.93,0,0,0,.57-.23l.61-.5c.21-.18.42-.34.63-.5a1.21,1.21,0,0,1,.73-.24v-.75a2.21,2.21,0,0,0,.87-.73,8.68,8.68,0,0,1,.51-.73h.35l.35-.41c.19.12.3.14.32.06a1.23,1.23,0,0,0,0-.29,1.07,1.07,0,0,1,.06-.35c0-.12.15-.17.35-.18h.75a.82.82,0,0,1,.32,0s0,.12,0,.31a3.25,3.25,0,0,0,.31-1.33c0-.51,0-1,0-1.63a4.1,4.1,0,0,0,.31-1.39c0-.47,0-.93,0-1.4l-.06-1.39a4.69,4.69,0,0,1,.13-1.39,3.81,3.81,0,0,0-.15-1.05.76.76,0,0,1,.14-.81.78.78,0,0,0,.2-.55,3,3,0,0,0-.15-.55,2.65,2.65,0,0,0-.3-.55,1,1,0,0,1-.18-.55,5.06,5.06,0,0,0-1.22-1,2.24,2.24,0,0,1-1-1.33.78.78,0,0,1-.58-.34.92.92,0,0,0-.76-.34c0-.35,0-.7,0-1a1.2,1.2,0,0,0-.32-.81l-7.67.06a12.7,12.7,0,0,0-4,.09,26.45,26.45,0,0,1-4.26.38.68.68,0,0,1-.18-.72.73.73,0,0,0-.18-.73v1h-.35a.79.79,0,0,1-.32,0,.79.79,0,0,1,0-.32,1.9,1.9,0,0,0,.45-1.51,4.38,4.38,0,0,1,.22-1.8v2.26a10.74,10.74,0,0,0,.44-3.57,17.24,17.24,0,0,1,.21-3.57c-.2-.19-.27-.36-.21-.49s.12-.28.2-.44a3,3,0,0,0,.17-.44.56.56,0,0,0-.18-.49h.7a.85.85,0,0,1,.52.14c.16.09.23,0,.23-.15a62.71,62.71,0,0,0,9,.42q4.44-.12,9-.15V42a.47.47,0,0,1,.35-.09l.35.05a.7.7,0,0,0,.29,0c.07,0,.11-.13.11-.32a1.07,1.07,0,0,0-.06-.35c-.08-.27-.18-.4-.29-.4,0-.16,0-.35,0-.58a4.45,4.45,0,0,1,0-.73,2.05,2.05,0,0,1,.17-.7A1.58,1.58,0,0,1,268.07,38.23ZM239.23,53.72a.17.17,0,0,1,.11-.06V54C239.19,53.89,239.15,53.8,239.23,53.72Zm11,11.41v-.41a.24.24,0,0,1,.17.06C250.48,64.85,250.42,65,250.23,65.13Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M250.52,42.43c.19.19.37.24.52.14a1,1,0,0,1,.52-.15c-.19-.19-.37-.24-.52-.14A.93.93,0,0,1,250.52,42.43Z"
      transform="translate(-19.6 -20.33)"
    />
    <polygon
      class="cls-1"
      points="237.36 22.05 237.01 21.7 236.61 22.05 237.36 22.05"
    />
    <path
      class="cls-1"
      d="M92.67,38.75a1,1,0,0,0-.18-.73,4.46,4.46,0,0,1,.39-1.64A2.38,2.38,0,0,0,93,34.72l0,.41a7,7,0,0,1-2.44,0A15.9,15.9,0,0,0,88.66,35a1.21,1.21,0,0,1-.55.07,2.35,2.35,0,0,1-.52-.14,3,3,0,0,0-.55-.14.73.73,0,0,0-.52.13,3.53,3.53,0,0,0-1.44-.41c-.62-.06-1.12-.1-1.51-.11l-.34,0-2.15-.08a1.76,1.76,0,0,1-1.42-.08,2.74,2.74,0,0,0-1.09-.35,2.32,2.32,0,0,1-.62.25c-.08,0-.21-.1-.4-.31a.82.82,0,0,1-.49.07,2.6,2.6,0,0,1-.4-.1,2.84,2.84,0,0,0-.44-.1.74.74,0,0,0-.46.06c-.58,0-1.09-.05-1.51-.08a5.06,5.06,0,0,1-1.44-.38.45.45,0,0,1-.58.12,1.88,1.88,0,0,0-.81-.17A4.85,4.85,0,0,0,70,32.72c-.43,0-.91-.09-1.45-.11l-2.5-.1a.84.84,0,0,0-.15-.53.8.8,0,0,1-.15-.52l-1.86-.08a2.58,2.58,0,0,1-.36,1.15A1.8,1.8,0,0,0,63.43,34a7,7,0,0,0-.54.56,1.46,1.46,0,0,0-.27.92H63c-.15-.12-.14-.21,0-.29a.81.81,0,0,1,.35,0,.77.77,0,0,1-.07.29c-.09.15-.18.16-.3,0,0,.2-.07.25-.2.17s-.21,0-.21.17a2.4,2.4,0,0,1-.64.67l-.81.58a8.35,8.35,0,0,0-.81.66,4.44,4.44,0,0,0-.7.88v-.35a1.55,1.55,0,0,0-.43.71q-.13.42.39.45a.91.91,0,0,0,0,.61c0,.21.09.42.12.61a1,1,0,0,1,0,.46c0,.12-.2.17-.47.16a.58.58,0,0,0-.14.69c.1.28.25.42.44.43a2.47,2.47,0,0,1,.08-.52.31.31,0,0,1,.36-.22.92.92,0,0,1-.17.51c-.1.16-.05.23.14.24a12.64,12.64,0,0,0-.32,2.92,9.41,9.41,0,0,1-.3,2.63l0,.7h-.35V49l.35,0c0,.23-.07.31-.19.22s-.17,0-.18.23a.73.73,0,0,1,.11.79,3.4,3.4,0,0,0-.18,1,.78.78,0,0,1,.44-.07.47.47,0,0,1,.25.15,2.12,2.12,0,0,1,.2.24.27.27,0,0,0,.2.13c.17.39.4.83.67,1.33a12.38,12.38,0,0,1,.67,1.39l.11.24a.62.62,0,0,1-.13.46,2.2,2.2,0,0,0,.5.51,1.57,1.57,0,0,0,.86.24l0,.81h.35l0,.35a2.62,2.62,0,0,1,.72.17.66.66,0,0,0,.73-.11c.11.35.26.56.47.62a1.6,1.6,0,0,0,.7.06l.73-.09a.79.79,0,0,1,.63.2.38.38,0,0,1,.47-.1l.22.13c.2,0,.32.05.38.13a1.92,1.92,0,0,0,.16.21,1.14,1.14,0,0,0,.17.15c.06,0,.18,0,.38-.1l0-.35,1.1,0a3.33,3.33,0,0,0,1.14.43c.43.07.88.13,1.36.17l1.45.11a6.74,6.74,0,0,1,1.41.26l.34.36.71-.32c.17.39.35.56.53.48a1.3,1.3,0,0,1,.55-.09,1.42,1.42,0,0,0,1.07.19,3.78,3.78,0,0,1,1-.11l.21,5.24a1.51,1.51,0,0,1-1.11.1,4.22,4.22,0,0,0-1-.19c0,.2-.05.31-.13.35A.76.76,0,0,1,77,65h-.47a1.07,1.07,0,0,0-.56.3c0-.19,0-.3-.1-.32a1,1,0,0,0-.23,0,.48.48,0,0,1-.23-.07c-.08,0-.11-.16-.11-.35l-3.65-.14v.35a.47.47,0,0,0-.37-.34,3,3,0,0,0-.52,0l-.5,0a.4.4,0,0,1-.34-.1L67,64.21c0,.19,0,.28-.13.25l-.23-.09a1.07,1.07,0,0,0-.22-.1c-.08,0-.12.06-.13.26-.19-.2-.37-.27-.54-.2a.49.49,0,0,1-.55-.19c-.08,0-.17,0-.3.16a.43.43,0,0,0-.06.17,1.25,1.25,0,0,1-1.13,0,1.19,1.19,0,0,0-1.07-.07A3,3,0,0,0,61,64.18a11.52,11.52,0,0,1-1.92.07A6.77,6.77,0,0,0,58.64,66c-.06.6-.1,1.2-.13,1.8s0,1.2-.1,1.8A6.31,6.31,0,0,1,58,71.35c0-.19,0-.38,0-.55a.27.27,0,0,0-.31-.27.82.82,0,0,0-.74.26,1.26,1.26,0,0,0-.23.72,4.25,4.25,0,0,0,.06.87,4.05,4.05,0,0,1,.05.73c0,.19.12.26.37.21s.38,0,.37.22.16.29.25.27a.49.49,0,0,0,.27-.13,1,1,0,0,1,.27-.19c.1-.06.2,0,.31.1a5.43,5.43,0,0,0,.88,0,1.2,1.2,0,0,0,.59-.32l0,.4a5.72,5.72,0,0,0,1.31.14c.44,0,.91,0,1.39-.06s1-.06,1.49-.06a6.21,6.21,0,0,1,1.56.21,4.78,4.78,0,0,0,2,.25,6.38,6.38,0,0,1,2.28.26,4.83,4.83,0,0,0,2.35.09,6.34,6.34,0,0,1,2.7.11,5.89,5.89,0,0,1,2.21-.09,7.54,7.54,0,0,0,2.44-.08.87.87,0,0,1,1-.46,9.73,9.73,0,0,0,1.19.14,2.15,2.15,0,0,1,.72.17.65.65,0,0,0,.73-.12.91.91,0,0,0,.59-.21l.62-.46c.22-.17.44-.33.66-.47a1.18,1.18,0,0,1,.73-.21l0-.75a2.16,2.16,0,0,0,.9-.69c.21-.28.39-.52.55-.71l.35,0,.36-.4c.19.13.3.15.32.07a1,1,0,0,0,0-.28,1.36,1.36,0,0,1,.07-.35c0-.11.16-.17.36-.16l.75,0a.25.25,0,0,1,.34.36,3.39,3.39,0,0,0,.37-1.32q.06-.75.09-1.62A4.17,4.17,0,0,0,91,65.61c0-.47.06-.93.06-1.4s0-.92,0-1.39a5.13,5.13,0,0,1,.2-1.39,3.81,3.81,0,0,0-.1-1,.75.75,0,0,1,.17-.8.75.75,0,0,0,.23-.54,2.45,2.45,0,0,0-.12-.56,3.22,3.22,0,0,0-.27-.56,1.06,1.06,0,0,1-.16-.56,4.68,4.68,0,0,0-1.18-1A2.26,2.26,0,0,1,88.87,55a.79.79,0,0,1-.57-.37,1,1,0,0,0-.74-.38c0-.34,0-.69,0-1a1.23,1.23,0,0,0-.29-.82L79.63,52a12.45,12.45,0,0,0-4-.1,25.51,25.51,0,0,1-4.28.18.71.71,0,0,1-.15-.73.7.7,0,0,0-.14-.73l0,1H70.7a1,1,0,0,1-.32,0,.83.83,0,0,1,0-.32,1.9,1.9,0,0,0,.52-1.49,4.46,4.46,0,0,1,.3-1.79l-.09,2.26a11.16,11.16,0,0,0,.61-3.55,16.9,16.9,0,0,1,.37-3.56c-.19-.2-.25-.36-.19-.5l.22-.42a2.19,2.19,0,0,0,.19-.43c0-.14,0-.3-.15-.5l.69,0a.91.91,0,0,1,.52.16c.15.1.23.06.24-.14a61.92,61.92,0,0,0,9,.85c3,.06,6,.14,9,.26v.35a.45.45,0,0,1,.35-.07l.35.07a.72.72,0,0,0,.29,0c.07,0,.12-.12.12-.32a1.08,1.08,0,0,0,0-.35c-.07-.27-.16-.41-.27-.41,0-.16,0-.35,0-.59a4.43,4.43,0,0,1,0-.72,2,2,0,0,1,.2-.69,1.58,1.58,0,0,1,.57-.59C92.8,39.19,92.64,39,92.67,38.75Zm-29,14.87c-.15-.12-.18-.22-.1-.29a.16.16,0,0,1,.12,0ZM74.06,65.24l0-.41a.27.27,0,0,1,.17.07C74.33,65,74.26,65.09,74.06,65.24Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M59.3,52.17q.06-.22-.51-.54l0,1.1.77-.31C59.32,52.41,59.25,52.33,59.3,52.17Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M60.25,53.14c-.2,0-.29,0-.3,0a2.43,2.43,0,0,0,.28.33Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M78.25,33.8l.32,0h0Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M72.15,59.18c-.15,0-.25-.07-.28-.18a.21.21,0,0,1-.05-.18.56.56,0,0,0-.3,0c-.15.07-.18.16-.07.28Z"
      transform="translate(-19.6 -20.33)"
    />
    <polygon
      class="cls-1"
      points="62.25 22.5 61.92 22.14 61.5 22.47 62.25 22.5"
    />
    <path
      class="cls-1"
      d="M83.66,42.55v.35l.33.42a.37.37,0,0,0,.3-.16.53.53,0,0,0,.06-.23c-.18-.2-.3-.27-.34-.19S83.85,42.75,83.66,42.55Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M88.64,43.09l.69,0v-.35a1.1,1.1,0,0,0-.35,0C88.76,42.89,88.64,43,88.64,43.09Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M75.41,42.58c.19.2.36.26.52.16a.94.94,0,0,1,.53-.12c-.19-.2-.36-.26-.52-.17A.89.89,0,0,1,75.41,42.58Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M59.86,37.62a.42.42,0,0,1,.24,0l-.41,0v.35A.31.31,0,0,1,59.86,37.62Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M24.82,33.64c-.35,0-.43-.09-.26-.22a.6.6,0,0,0,.29-.48c-.19-.2-.31-.26-.35-.19s-.15,0-.34-.18l.31,1Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M54.43,38.39a.49.49,0,0,1,.3-.16c-.2,0-.25-.07-.17-.18s0-.17-.17-.18a.24.24,0,0,1-.12.2l-.21.13a.12.12,0,0,0-.06.15c0,.06.14.13.37.21A.49.49,0,0,1,54.43,38.39Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M19.6,61.67a3.79,3.79,0,0,0,0,.49c0,.14.12.21.31.21s.29-.1.28-.33S20,61.68,19.6,61.67Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M25.22,32.2c.12-.15.17-.24.13-.28a.13.13,0,0,0-.14,0l-.21.05c-.08,0-.12,0-.11-.09l0,.35a.5.5,0,0,1,.18-.11C25.17,32,25.23,32,25.22,32.2Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M28,33a.7.7,0,0,0-.18.11l.41,0C28.27,32.92,28.2,32.88,28,33Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M54.94,41.67a.28.28,0,0,0,0-.32c0-.1-.11-.22-.19-.36a2.4,2.4,0,0,1-.18-.5,1.45,1.45,0,0,1,.06-.75,1.2,1.2,0,0,0-.31-.33,2.9,2.9,0,0,1-.36-.34.88.88,0,0,1-.22-.38.76.76,0,0,1,.08-.49,3.34,3.34,0,0,1-.69-.12c-.27-.07-.4-.29-.38-.68.2-.19.25-.36.16-.52a.93.93,0,0,1-.12-.52.8.8,0,0,0-.32,0,.83.83,0,0,0,0,.32c-.19,0-.25-.07-.16-.18s0-.17-.17-.18a1.19,1.19,0,0,1-.47-.72,7.29,7.29,0,0,1-.08-.76,1.48,1.48,0,0,0-.15-.61c-.09-.18-.31-.27-.66-.29,0-.27,0-.43-.13-.47a.63.63,0,0,0-.31,0,1.6,1.6,0,0,1-.38,0c-.14,0-.24-.1-.31-.3a.47.47,0,0,1-.42.39c-.19-.2-.34-.28-.46-.25a.7.7,0,0,0-.29.19,1.09,1.09,0,0,1-.3.23c-.12,0-.27,0-.46-.23l.41,0a2.73,2.73,0,0,1-.93-.18,1.26,1.26,0,0,0-1,.11h.47l-.48.33c-.15-.12-.19-.22-.11-.29a.13.13,0,0,1,.12,0,1.18,1.18,0,0,1-.54-.17.45.45,0,0,0-.56.12l.41,0a2,2,0,0,0-.35,0,1.89,1.89,0,0,1-.32,0,.23.23,0,0,1-.2-.09c0-.06,0-.19.07-.38l-.71.38v-.41c-.19,0-.26.06-.21.2s0,.2-.21.19l0-.4-.71.38-.45-.43-2.21-.08c-.2.18-.38.22-.55.12a1.18,1.18,0,0,0-.55-.17.26.26,0,0,0-.26-.09l-.32,0a.86.86,0,0,1-.32,0q-.14,0-.24-.33a5.14,5.14,0,0,0-.56,0,.94.94,0,0,0-.56.3,5.8,5.8,0,0,0-1-.51.72.72,0,0,0-.81.09l-.35,0c-.43.18-.69.21-.76.09a2.91,2.91,0,0,0-.39-.48l-.42.33-1.45-.06-1.21,0a.8.8,0,0,1-.23-.19L30,31.75a.48.48,0,0,0-.23-.07,1.9,1.9,0,0,1,0,.35,7.26,7.26,0,0,1-.85-.12c-.38-.07-.58.06-.59.41.15,0,.25,0,.28.07a.14.14,0,0,1,0,.15c0,.05-.05.1-.07.14s0,.06.09.06l-.36.34c0,.19-.06.3-.16.34s-.06.15.13.35a1.14,1.14,0,0,0-.54.36.9.9,0,0,0-.13.43l0,.43a.67.67,0,0,1-.13.38c0-.24-.05-.37-.18-.42a2.18,2.18,0,0,0-.5-.08l.38-.68a4,4,0,0,0,0-.61,1,1,0,0,0-.29-.56.22.22,0,0,0,.06-.26.64.64,0,0,0-.22-.3l-.36-.3a2.27,2.27,0,0,1-.31-.28L26,33l.34,0c0,.19-.07.31-.18.34s-.18.15-.19.34c-.19-.2-.31-.23-.37-.1a3.25,3.25,0,0,1-.4.54c-.2,0-.3-.07-.31-.19s0-.06,0,.17a.73.73,0,0,0-.5.16l-.42.33a1.47,1.47,0,0,1-.44.24.49.49,0,0,1-.47-.1,1,1,0,0,1-.5.91,4.14,4.14,0,0,0-.77.55c0,.19-.07.26-.18.19s-.18,0-.19.2c.35.17.44.33.28.48a2.94,2.94,0,0,1-.3.22c-.06,1.35-.06,2.67,0,3.95a18.24,18.24,0,0,1-.3,3.93,1,1,0,0,1,.26.74,1,1,0,0,1-.32.71l.35,0-.08,2,0,1.1-.43,11.2a.68.68,0,0,0-.18.74,2.83,2.83,0,0,1,.12.76,1.61,1.61,0,0,0,.39-.47.36.36,0,0,1,.39-.19c0,.77-.3,1.15-.8,1.13a1.46,1.46,0,0,1,.35.74,1.32,1.32,0,0,0,.35.74c.72,1.38,1.43,2.72,2.13,4s1.43,2.51,2.16,3.66a2,2,0,0,1,1.69-.2,6.92,6.92,0,0,0,2,.34l.39.42c1.47.06,2.81.16,4,.31a17.33,17.33,0,0,0,3.81,0l.33.36a1.07,1.07,0,0,1,.6-.3h.58a9.37,9.37,0,0,0,3.88-.4,13.94,13.94,0,0,0,3.37-1.67,25.33,25.33,0,0,0,3-2.41l2.74-2.57a2.37,2.37,0,0,0,.53-.76,2.93,2.93,0,0,0,.24-1,1.42,1.42,0,0,0,.49-.62,6,6,0,0,0,.2-.69c.05-.23.08-.43.11-.6a.56.56,0,0,1,.16-.37l.13-3.37a4.23,4.23,0,0,0,.68-1.86c.09-.67.14-1.28.16-1.82l-.33-.42.19-4.82a22.16,22.16,0,0,1-.2-3.26c0-1,.05-2.07.1-3.19a.9.9,0,0,0,.23-.63c0-.23.15-.26.49-.1ZM21.86,63.26H21.4a.46.46,0,0,1,.06-.18.55.55,0,0,1,.42-.15ZM29,32.38a.68.68,0,0,1,.27-.14,2.17,2.17,0,0,1,.35-.07.18.18,0,0,0,.16-.1.34.34,0,0,0,0,.1c0,.14-.14.2-.33.19.26.21.4.21.4,0a1.31,1.31,0,0,0,0-.35,2.62,2.62,0,0,0,.34.33.9.9,0,0,0,.34,0c0,.24-.07.29-.18.17a.37.37,0,0,1-.17-.18c0,.2-.06.26-.18.2s-.17,0-.18.19l-.75,0C28.91,32.56,28.9,32.43,29,32.38Zm6.37,20.8a3.1,3.1,0,0,0-.12.76,12.07,12.07,0,0,0-.2,2.43c0,.23,0,.46,0,.7l-1.52,0a15.83,15.83,0,0,0-3.15-.28,19.54,19.54,0,0,1-3.39-.29c.16-.15.27-.19.31-.13s.16,0,.32-.12a1.3,1.3,0,0,1-.24-.68c0-.22,0-.46,0-.7s.05-.5.08-.75a3.19,3.19,0,0,0,0-.81c.1-.15.14-.24.1-.27a.2.2,0,0,0-.09-.05c.17-.14.21-.24.13-.29s-.11-.15-.11-.3l0-.91c.13-.15.13-.28,0-.39s-.13-.17,0-.16v-.27c0-.19.08-.35.12-.5a.91.91,0,0,0-.07-.74h-.34a4.15,4.15,0,0,0,.43-1,1.8,1.8,0,0,1,.86-1,3.08,3.08,0,0,0,1.44.17,8.34,8.34,0,0,1,1.4-.06v-.27a2.78,2.78,0,0,1,1.43,0c.33.08.67.18,1,.29a.72.72,0,0,0-.25,0l-.27.06a1.14,1.14,0,0,1-.39,0,1,1,0,0,0,.77.15,1.59,1.59,0,0,1,.54-.1h.28l-.27-.28h.29a.25.25,0,0,0,.13.23.2.2,0,0,0,.14.06l.67,0a11.89,11.89,0,0,0-.2,2.1,10.28,10.28,0,0,0,.26,2.45l-.23.34A.68.68,0,0,1,35.33,53.18Zm12.39-2.76a7.68,7.68,0,0,1-.34,1.86l0-1.41a2.15,2.15,0,0,1-.73.27.54.54,0,0,0-.5.55c.29,0,.46.06.52.16a.4.4,0,0,0,.33.15,4,4,0,0,0,.1.73.76.76,0,0,1-.15.73h.33a2.2,2.2,0,0,1-.14.63,1.19,1.19,0,0,0,.08.88,1.25,1.25,0,0,1-.21.54,1.89,1.89,0,0,0-.16.36A4.61,4.61,0,0,0,47,57a1.32,1.32,0,0,1-.16,1l-.3.26c-1.54-.29-3.15-.53-4.82-.72,0-.15,0-.29,0-.43,0-.36,0-.75,0-1.18a4.07,4.07,0,0,0-.06-1,4,4,0,0,1-.07-.87.58.58,0,0,1-.07-.52,1.83,1.83,0,0,0,.11-.48c0-.1,0-.16-.08-.18s0-.08.09-.17c-.07-1.27-.11-2.51-.13-3.72,0-.39,0-.79,0-1.18a1.54,1.54,0,0,1,.33.1,5.34,5.34,0,0,0,.52.18.65.65,0,0,0,.51,0,5.45,5.45,0,0,0,1-.07.86.86,0,0,1,.8.14,6.89,6.89,0,0,0,1.6.34c.56.05,1.07.09,1.52.1C47.79,49.11,47.76,49.75,47.72,50.42Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M55.56,54.06h-.34a4.5,4.5,0,0,0,0,.52c0,.16.12.24.31.25-.18-.2-.23-.33-.13-.39S55.56,54.26,55.56,54.06Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M287.69,57.07a.87.87,0,0,1,.22-.18.76.76,0,0,0,.23-.18.56.56,0,0,0,.11-.41l-.69.42a.82.82,0,0,1,.08-.43,3.18,3.18,0,0,1,.17-.27.16.16,0,0,0,0-.2.67.67,0,0,0-.29-.2,1.93,1.93,0,0,0,.5-1,5.33,5.33,0,0,0,.09-1.13c0-.39,0-.79-.05-1.19a4.13,4.13,0,0,1,.06-1.13.48.48,0,0,0-.64-.08c-.22.14-.24.31,0,.5-.19.19-.25.37-.17.52s0,.33-.16.53a.37.37,0,0,1-.2.38.37.37,0,0,0-.19.38,2.46,2.46,0,0,0,.05,2.21.67.67,0,0,0-.11.69c0,.16.09.29.13.41v.69h.76A.43.43,0,0,1,287.69,57.07Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M287.92,57.06v.35h.34a.46.46,0,0,0-.18-.28A.43.43,0,0,0,287.92,57.06Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M290.47,73.93s.06-.12.06-.32l-.4.36A1,1,0,0,0,290.47,73.93Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M306.46,52.47a3.65,3.65,0,0,1-1.63-.17l-.4.42a.59.59,0,0,0,.39.31,2.09,2.09,0,0,0,.43,0l.49-.07a1.24,1.24,0,0,1,.56.07,1.19,1.19,0,0,1,.77-.33c.33,0,.67,0,1,0A3.66,3.66,0,0,0,306.46,52.47Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M300.36,52.39c-.11.2-.15.32-.11.35a.17.17,0,0,0,.12.06c.19,0,.24,0,.14-.06S300.37,52.59,300.36,52.39Z"
      transform="translate(-19.6 -20.33)"
    />
    <polygon
      class="cls-1"
      points="280.23 23.25 280.57 22.84 280.22 22.5 280.23 23.25"
    />
    <path
      class="cls-1"
      d="M288.9,34.23c.11-.12.16-.21.14-.27a.39.39,0,0,0-.12-.14.27.27,0,0,1-.12-.14c0-.06,0-.13.08-.21-.19.2-.24.33-.14.38S288.89,34,288.9,34.23Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M313.51,41.24c-.09-1.53-.15-2.93-.17-4.21a.74.74,0,0,1-.33-.52,2,2,0,0,1,0-.55c0-.17,0-.33,0-.46a.3.3,0,0,0-.15-.32c-.19.2-.36.25-.52.16a.92.92,0,0,0-.52-.14,1.37,1.37,0,0,0-.51-.6,3.07,3.07,0,0,0-.64-.3,1.69,1.69,0,0,1-.56-.31.76.76,0,0,1-.25-.6,3.8,3.8,0,0,1-1.28-.15,3.73,3.73,0,0,0-1.28-.15c-.38,0-.69,0-.92,0a2.26,2.26,0,0,0-.87.34l-6.26.13c-.2,0-.27-.06-.21-.17s0-.18-.21-.17a.35.35,0,0,1-.22.38,2.62,2.62,0,0,1-.55.13l-.61.07a.49.49,0,0,0-.4.21.91.91,0,0,0-.65-.28l-.69,0a2.73,2.73,0,0,1-.7,0,.82.82,0,0,1-.59-.45l-.4.35a2.71,2.71,0,0,0-.72.16.65.65,0,0,1-.73-.13c-.19.2-.35.29-.49.28a1.66,1.66,0,0,1-.38-.11l-.32-.17a.2.2,0,0,0-.26,0,1.45,1.45,0,0,1-.54.39,1.4,1.4,0,0,0-.55.39V34.2l-.34.36a.82.82,0,0,0,0,.32,1,1,0,0,0,.32,0c-.19,0-.25.08-.17.24s0,.32-.16.52c0,.2,0,.24-.06.15s-.15-.14-.35-.14a.83.83,0,0,1,.05-.38,3.17,3.17,0,0,1,.34-.38h-.4a.33.33,0,0,1,.16-.3.53.53,0,0,1,.24-.06l-.42-.34c-.18.54-.35,1-.49,1.4a3.19,3.19,0,0,0-.21,1.23,19.33,19.33,0,0,0,.2,2.31,4.6,4.6,0,0,1-.11,2c0,.93,0,1.92-.08,3a9.57,9.57,0,0,0,.2,2.93,3.34,3.34,0,0,0-.29,1.34c0,.5,0,1,0,1.57v.81c-.14,2.4-.22,4.73-.23,7s-.09,4.59-.23,7v.35A9.34,9.34,0,0,0,288,68a12.08,12.08,0,0,1-.11,3.08c0,.19,0,.51,0,1a1.42,1.42,0,0,1-.3,1c.2.19.26.36.19.52s0,.33.18.52c0-.2,0-.29,0-.3a2.17,2.17,0,0,1,.33.29c0,.23,0,.29-.17.18a.42.42,0,0,1-.18-.17c0,.19.07.3.18.34a.21.21,0,0,0,.18,0,.58.58,0,0,0,.72.08,2.45,2.45,0,0,0,.72-.51h-.35a.92.92,0,0,1,0-.32.73.73,0,0,1,.32,0V74l.4-.36c0-.11.05-.15.17-.12l.24.11a.9.9,0,0,0,.51-.15c.16-.1.24-.06.24.14V74a.65.65,0,0,1,1,0,2.06,2.06,0,0,0,.52-.06c.39-.09.58-.19.58-.31a3.69,3.69,0,0,1,1.07.15,2.37,2.37,0,0,0,.79.16c0-.15,0-.25.11-.29a.61.61,0,0,1,.32,0l.46,0a1,1,0,0,0,.55-.1l-.34.36h.35a.78.78,0,0,1,.34-.58c.23-.2.22-.49,0-.88a.6.6,0,0,0,.16-.75,2.27,2.27,0,0,1-.19-.75A23.32,23.32,0,0,1,297,67c.11-1.26.22-2.5.33-3.73s.18-2.45.22-3.69a14.72,14.72,0,0,0-.4-3.76.85.85,0,0,1-.6-.89,1.05,1.05,0,0,0-.25-.89,2.65,2.65,0,0,0-.16-.76.69.69,0,0,1,.13-.75l.81,0,0,.75c.69,0,1-.27,1-.77,1.65-.23,3.38-.38,5.18-.46s3.63-.23,5.48-.46a2,2,0,0,0-.37.5.35.35,0,0,1-.37.21c.2.19.32.2.38,0s.18-.18.37,0a1.55,1.55,0,0,1,.78-.42,2.61,2.61,0,0,0,1.06-.67c0,.2.08.3.24.32a4.18,4.18,0,0,0,.52,0,.39.39,0,0,0,.29-.18.3.3,0,0,0,0-.18c.38-.2.48-.39.28-.58a.81.81,0,0,1-.3-.58.19.19,0,0,0,.2-.18c0-.11,0-.24.05-.38a1,1,0,0,1,.11-.38c.05-.11.18-.17.37-.18,0,.2.07.3.21.32a3.55,3.55,0,0,0,.49,0l0-1.11a2.48,2.48,0,0,0,.26-1.25,2.9,2.9,0,0,0-.31-1.3A13.21,13.21,0,0,0,313.51,41.24ZM288.64,73.8a1.64,1.64,0,0,0-.39-.49h.35c0,.2,0,.31.07.35L289,74A.36.36,0,0,1,288.64,73.8Zm1-32.27c-.12,0-.18-.15-.18-.35l.41.4A.64.64,0,0,1,289.63,41.53Zm.22-.7v.34c-.19-.15-.27-.3-.24-.46a1.21,1.21,0,0,1,.22-.44c.12-.13.23-.27.34-.41s0,0,0,0a1.48,1.48,0,0,0,.1.39C290.38,40.42,290.23,40.62,289.85,40.83Zm.31-1.46,0-1.1.4-.36a1,1,0,0,0-.28.73,1,1,0,0,0,.31.72v.35Zm6,7.25v-.41l.36.4Zm9-.31a1.14,1.14,0,0,1-.15-.23.29.29,0,0,0-.15-.14c-.06,0-.13,0-.2.09-1,0-1.91,0-2.82-.08a8.84,8.84,0,0,0-2.75.2l-.08-3.72a6.54,6.54,0,0,1,.51-.47c.16-.12.23-.08.24.11.15-.08.23-.17.23-.26a1.32,1.32,0,0,0-.07-.32,2.11,2.11,0,0,1-.09-.38c0-.13.06-.3.25-.5-.2-.19-.25-.31-.16-.37a.39.39,0,0,0,.14-.38l1.1,0a2.45,2.45,0,0,1,.72-.51,1.79,1.79,0,0,1,.72-.22c.08-.08.14-.11.2-.09a.71.71,0,0,1,.18.08.51.51,0,0,0,.17.08c.06,0,.15,0,.26-.09l1.11,0a2.43,2.43,0,0,1,.2,1.45A2.33,2.33,0,0,0,305,42a15.05,15.05,0,0,0,.22,2.26,12.73,12.73,0,0,1,.22,2.21A.26.26,0,0,1,305.2,46.31Zm.05-6a1.91,1.91,0,0,1,.42-.88l0,1.46C305.31,40.85,305.16,40.66,305.25,40.27Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M381.36,72.83c.19-.19.24-.29.14-.29S381.36,72.64,381.36,72.83Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M378.27,63.44v.4h.34a.48.48,0,0,0-.18-.34C378.36,63.45,378.31,63.43,378.27,63.44Z"
      transform="translate(-19.6 -20.33)"
    />
    <polygon
      class="cls-1"
      points="352.82 24.07 353.17 24.06 352.81 23.72 352.82 24.07"
    />
    <path
      class="cls-1"
      d="M377.1,60.56a.75.75,0,0,0,.07.23.22.22,0,0,0,.12.13s-.05-.08,0-.16S377.3,60.55,377.1,60.56Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M378.65,65.28l.36.35a.7.7,0,0,0,0-.32A.79.79,0,0,0,378.65,65.28Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M380.88,32.61l-.34.36c.19-.2.21-.37.08-.5a.67.67,0,0,0-.5-.19A10.23,10.23,0,0,0,378,32c-.71,0-1.34,0-1.88,0a1.46,1.46,0,0,0-.67-.08l-.76.08a5,5,0,0,1-.78,0,.85.85,0,0,1-.65-.3l-6.15.12a2.64,2.64,0,0,1-.6.48.86.86,0,0,1-.84-.1,1.64,1.64,0,0,1-1.31.06,1.61,1.61,0,0,0-1.24,0,.4.4,0,0,1-.38-.13c-.06-.1-.19-.05-.38.15-.2-.19-.37-.24-.52-.16s-.33,0-.53-.17c0-.19-.08-.24-.23-.14a1,1,0,0,1-.52.16q0,.59-.6.48a6.18,6.18,0,0,0-1.2-.09,1.21,1.21,0,0,1-.54.35,2,2,0,0,1-.55.07l-.52,0c-.16,0-.23.13-.23.33l-.35-.34a2.43,2.43,0,0,0-.3,1.11c0,.38,0,.8,0,1.24s0,.89.08,1.34a6.26,6.26,0,0,1-.06,1.36c.07,3.06.06,6.18,0,9.38s-.16,6.34-.29,9.44a2.86,2.86,0,0,1,.17,1.51,7.13,7.13,0,0,0-.11,1.45c0,2.17,0,4.32,0,6.47a47.9,47.9,0,0,0,.28,6.53c.19-.2.29-.23.32-.1a3.53,3.53,0,0,1,0,.5.67.67,0,0,1,.3.08,1.42,1.42,0,0,0,.35.11.35.35,0,0,0,.29-.1.78.78,0,0,0,.1-.52,1.7,1.7,0,0,1,.52.05c.16,0,.24.15.24.34.67.3,1.15.29,1.45,0l.42.34h.35a.49.49,0,0,1,.51-.24,1.85,1.85,0,0,1,.56.19,2.7,2.7,0,0,0,.53.22c.17.06.35,0,.54-.21a19.92,19.92,0,0,0,.34-4.89c-.09-1.58-.15-3.11-.18-4.58l.34-.35a5,5,0,0,1,0-.73,1.18,1.18,0,0,1,.33-.73,9.15,9.15,0,0,1-.36-2.11c0-.68,0-1.35,0-2s.07-1.31.13-2a17.1,17.1,0,0,0,.08-1.88.67.67,0,0,0,.16-.7c-.09-.27,0-.41.16-.41a5.14,5.14,0,0,0,1.62-.3,1.85,1.85,0,0,1,1.63.23,21.16,21.16,0,0,0,1,3.43c.47,1.21.91,2.35,1.32,3.43q.86,2.13,1.89,4.26c.69,1.41,1.31,2.74,1.88,4,.2.54.4,1.06.58,1.56s.38,1,.58,1.38a1,1,0,0,1,.2.81.51.51,0,0,0,.18.58l0,.75a.76.76,0,0,1,.89-.48,4.51,4.51,0,0,0,.9.09c.2.19.26.37.18.52s0,.33.19.52c.19,0,.32,0,.37-.12a1,1,0,0,0,.14-.24,1.09,1.09,0,0,0,.09-.23.13.13,0,0,1,.14-.12l2.55,0a1.64,1.64,0,0,1,0-.38,1.47,1.47,0,0,1,.31-.38,89.19,89.19,0,0,0-2.82-9q-1.63-4.35-3.35-8.67a.43.43,0,0,1,0-.41,1.69,1.69,0,0,1,.22-.35,1.47,1.47,0,0,0,.22-.41.83.83,0,0,0-.1-.64,4.28,4.28,0,0,1,0,.52c0,.16-.12.24-.32.24a1.08,1.08,0,0,1-.62-.77,5.48,5.48,0,0,1-.11-1,2.07,2.07,0,0,1,1.27-.23,3.28,3.28,0,0,0,1.23-.13,2.37,2.37,0,0,0,0,.31h.35v-.41c.38-.35.74-.72,1.08-1.09a8.19,8.19,0,0,0,.88-1.15,4.69,4.69,0,0,0,.53-1.2,3.19,3.19,0,0,0,0-1.31c.18-.55.33-1,.46-1.46a5,5,0,0,0,.17-1.52c.12-.11.21-.15.29-.12a.17.17,0,0,1,.06.12,3.8,3.8,0,0,0,0-.52.94.94,0,0,0-.33-.52H380a16.94,16.94,0,0,0,.09-3.77,18.27,18.27,0,0,1,.1-3.84c-.19,0-.24-.06-.15-.2a.86.86,0,0,0,.14-.49.76.76,0,0,1,.22-.56c.15-.18.32-.36.51-.56l.35.34a1.14,1.14,0,0,0,0-.35A3.62,3.62,0,0,0,380.88,32.61Zm-24.11,10.6v-.35h.34v.35Zm1.16-5.89a.25.25,0,0,1-.18-.28l.41.34A.49.49,0,0,1,357.93,37.32Zm19.59,34.9a.24.24,0,0,1,.17-.06v.4h-.35A.4.4,0,0,1,377.52,72.22Zm-1.28,0c-.19,0-.25,0-.17.14s0,0-.18-.14Zm-8.47-19.57a.71.71,0,0,1-.24-.17c.19,0,.3-.07.32-.21s0-.3,0-.49a.47.47,0,0,1,.29.17.38.38,0,0,1,.06.17c-.35,0-.43.08-.26.21a.62.62,0,0,1,.28.49A.62.62,0,0,1,367.77,52.62Zm6.6-7.74a3.14,3.14,0,0,1-.11,1.63,2.18,2.18,0,0,0-.37-1.1,2.63,2.63,0,0,1-.38-1.38q0-.18-.06-.15a.27.27,0,0,0-.11.15,1.6,1.6,0,0,0-.17.35c-.19,0-.26-.05-.21-.17s0-.17-.2-.17v.35a.48.48,0,0,1-.28.15l-.32.07c-.1,0-.16.07-.17.15a.53.53,0,0,0,.09.34.38.38,0,0,0-.46-.11l-.23.13a1,1,0,0,0-.4.56,3.12,3.12,0,0,0-.05.55.67.67,0,0,0-.49.21.71.71,0,0,0-.19.5h-.35l-3.25.06a.49.49,0,0,0-.06-.17c-.12-.11-.21-.17-.29-.17a16.24,16.24,0,0,1-.13-2.2c0-.74,0-1.46,0-2.18s0-1.43,0-2.15a17.79,17.79,0,0,0-.13-2.17.74.74,0,0,0,.9,0,1.33,1.33,0,0,1,.89-.34h.35v.34a.9.9,0,0,0,.51-.15c.16-.1.24-.06.24.14v.4a1.34,1.34,0,0,1,.51-.56,1.37,1.37,0,0,1,.58-.16l.64,0a2.48,2.48,0,0,0,.81-.1c.19,0,.43,0,.72,0a1.1,1.1,0,0,1,.73.3,1.07,1.07,0,0,1,.52-.33l.52,0,.1,4.71-.34.35c0,.19.12.31.35.34s.35.15.36.34h-.35A9.2,9.2,0,0,0,374.37,44.88Z"
      transform="translate(-19.6 -20.33)"
    />
    <polygon
      class="cls-1"
      points="356.23 31.6 355.88 31.96 356.23 31.95 356.23 31.6"
    />
    <polygon
      class="cls-1"
      points="356.31 35.9 355.96 35.56 356.32 36.25 356.31 35.9"
    />
    <path
      class="cls-1"
      d="M375.93,56.92l.38,1.5c.26-.08.42-.19.45-.32a.45.45,0,0,0-.09-.41,2.89,2.89,0,0,0-.39-.4A1.68,1.68,0,0,1,375.93,56.92Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M375.69,55.56c.1,0,.05,0-.14,0v.35C375.55,55.69,375.6,55.59,375.69,55.56Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M356,35.77a1.42,1.42,0,0,1-.1-.49h-.35l0,.7C355.93,36,356.07,35.9,356,35.77Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M356.55,32.36l0-.7h-.34a2.25,2.25,0,0,0,0,.49C356.25,32.3,356.36,32.36,356.55,32.36Z"
      transform="translate(-19.6 -20.33)"
    />
    <polygon
      class="cls-1"
      points="343.6 52.88 344.36 52.87 343.94 52.53 343.6 52.88"
    />
    <path
      class="cls-1"
      d="M355,59.22v.4l.35.34c0-.19-.06-.32-.18-.37A.37.37,0,0,1,355,59.22Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M363.47,69.55a1.11,1.11,0,0,1,.14-.56c.09-.17,0-.36-.16-.55Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M379.29,66.69c.1.06.15.18.16.38.18-.2.23-.33.13-.38s-.15-.18-.15-.38C379.24,66.51,379.19,66.64,379.29,66.69Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M379.74,49c.05-.12.11-.25.16-.41a1,1,0,0,1,.2-.35l0-.7c0,.54-.1.86-.35,1a2,2,0,0,0-.66.44c.16.2.3.28.41.26A.34.34,0,0,0,379.74,49Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M363.35,63.74l0,.76a.62.62,0,0,1,.05-.18l.12-.12a.35.35,0,0,1,.23-.06Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M380.42,48.3a3.11,3.11,0,0,0,0-.47l-.34.36C380.3,48.38,380.4,48.41,380.42,48.3Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M414.48,65.65a.68.68,0,0,0,.17-.07l.12-.11a.43.43,0,0,0,.05-.24,1.71,1.71,0,0,0-.46.07C414.24,65.34,414.28,65.46,414.48,65.65Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M384.29,32.76h0Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M395.08,49.76c0,.25.13.38.33.37l0-1H395C395,49.29,395.06,49.51,395.08,49.76Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M415.64,34.79a2.26,2.26,0,0,0,.11-.26.58.58,0,0,1,.23-.27,1,1,0,0,1-.48-.65,3.16,3.16,0,0,1,0-.82c0-.29.08-.59.13-.9a1.51,1.51,0,0,0-.1-.87,19.83,19.83,0,0,0-3.17-.25q-1.6,0-2.94,0l-3.19.07a1.12,1.12,0,0,1-1,.08.85.85,0,0,1-.48-.81c-.2,0-.43,0-.7.05a1,1,0,0,0-.69.33c-.19,0-.25.07-.17.21s0,.2-.17.2c0-.38-.21-.59-.62-.62a.91.91,0,0,0-.84.25c-.34,0-.64,0-.9,0a2.49,2.49,0,0,1-.9-.3,6.07,6.07,0,0,1-2,.27,3.73,3.73,0,0,0-2,.56v-.4a.85.85,0,0,1-.95.51,8.52,8.52,0,0,0-1.19-.06,1.77,1.77,0,0,1-1.16.2,2.35,2.35,0,0,0-1.33.2c.35.18.51.29.47.31a.81.81,0,0,1-.29,0,3,3,0,0,0-.49.07c-.17,0-.2.14-.08.29-.19,0-.49,0-.9,0a1.51,1.51,0,0,1-.9-.24c.18-.39.42-.54.71-.45a1.41,1.41,0,0,1,.68.42.63.63,0,0,0,.49-.24c.13-.16.1-.33-.1-.52H390v-.4a.62.62,0,0,0-.46.18,2,2,0,0,0-.28.41,1.35,1.35,0,0,1-.28.41.58.58,0,0,1-.4.19.36.36,0,0,0,0-.58.84.84,0,0,1-.34-.58,2,2,0,0,0-.31.39,1.64,1.64,0,0,0,0,.38c0,.27-.07.42-.22.46a1.69,1.69,0,0,1-.58,0c-.23,0-.47,0-.73,0a.83.83,0,0,0-.6.25c-.55-.34-.86-.46-.94-.36a.77.77,0,0,0,0,.58c.06.29.12.61.16.95s-.06.57-.33.65a1.33,1.33,0,0,1-.23-.9,1,1,0,0,0-.1-.49c-.19,0-.29.07-.31.18a1.43,1.43,0,0,0,0,.41c0,.15,0,.31.07.46a.34.34,0,0,1-.14.35l.12,5.75h.41a2.7,2.7,0,0,1,0,.52.31.31,0,0,1-.35.24.69.69,0,0,1,.22.67c0,.25,0,.37.21.37a3,3,0,0,1-.1.87,5,5,0,0,0-.12,1,3.82,3.82,0,0,0,.08,1,1.62,1.62,0,0,0,.51.86.71.71,0,0,0-.29.18.65.65,0,0,0-.14.23c0,.08,0,.16.15.23a.73.73,0,0,0-.14.41.32.32,0,0,0,.12.17.67.67,0,0,0,.21.09.13.13,0,0,1,.12.14c0,.43-.09.64-.28.64a42.82,42.82,0,0,0-.18,5c0,1.64.08,3.27.15,4.87s.13,3.2.16,4.79,0,3.19-.13,4.82a.4.4,0,0,0-.08.35c0,.16,0,.31.07.46a1.93,1.93,0,0,1,0,.41c0,.12-.13.18-.32.18h.35c.2.19.24.37.13.52a.58.58,0,0,1-.46.25,2,2,0,0,0,.19.92,1.86,1.86,0,0,1,.19.81c.19-.2.26-.23.2-.09s0,.3.21.49a.72.72,0,0,1,.79.07,2.88,2.88,0,0,1,.48.6,4.24,4.24,0,0,0,.44.6.76.76,0,0,0,.76.13.62.62,0,0,0,.55-.25,1.09,1.09,0,0,0,.16-.49,3.73,3.73,0,0,1,.08-.5c0-.15.15-.23.34-.24s.3.07.33.23,0,.33,0,.52a2.25,2.25,0,0,1,.87.13,2.44,2.44,0,0,0,.93.12c.27,0,.43-.08.46-.24a1.48,1.48,0,0,0,0-.52c0-.19-.05-.4-.07-.61a.38.38,0,0,1,.25-.44,1.76,1.76,0,0,1,.53.31,2.54,2.54,0,0,0,.47.31,2.09,2.09,0,0,0,.5.16,1.35,1.35,0,0,0,.66-.07,1.32,1.32,0,0,1,.95-.43,7.64,7.64,0,0,1,1.08.07q.52.08,1,.12a1.31,1.31,0,0,0,.92-.25,1.2,1.2,0,0,1,.64.22.63.63,0,0,1,.36.51,1.08,1.08,0,0,1,.54-.7,2.47,2.47,0,0,1,.81-.25,6.25,6.25,0,0,1,.86-.08,2.08,2.08,0,0,0,.73-.13c.12.15.16.25.12.29a.17.17,0,0,1-.12.06v.4c.2,0,.31,0,.35-.06l.34-.36c1.86.16,3.76.29,5.7.41s3.89.15,5.87.11c.19,0,.24-.16.16-.47a1.2,1.2,0,0,1,.15-.93c.08.15.17.24.27.25a.57.57,0,0,0,.26,0l.26-.06a.37.37,0,0,1,.32.08L415.26,67l-.41-.34-.11.24a.37.37,0,0,0,.13.46c-.28-.07-.44-.2-.48-.37a3.09,3.09,0,0,1-.07-.52,1.93,1.93,0,0,0-.06-.49c-.05-.16-.2-.27-.48-.34-.12-.27-.13-.45,0-.55a.5.5,0,0,1,.38-.15,2.36,2.36,0,0,1,.46,0c.16,0,.23,0,.23-.15a1.09,1.09,0,0,0-.1-.5c-.06-.13.11-.2.49-.21a2.24,2.24,0,0,1,0-2.2,1.26,1.26,0,0,1-.77-.66c-.12-.28,0-.53.33-.73-.19-.07-.28-.15-.26-.23a.77.77,0,0,1,.11-.26.59.59,0,0,0,.08-.26c0-.08-.1-.17-.3-.29a.5.5,0,0,1-.12-.17c-.08-.15,0-.23.12-.23a2.51,2.51,0,0,0-.07-.41,1.36,1.36,0,0,0-.3-.57v.29c-.19,0-.43,0-.72,0a1.23,1.23,0,0,1-.73-.24,7.49,7.49,0,0,1-3.07.38,7.79,7.79,0,0,0-3.07.38,3,3,0,0,0-1.92-.19,5.73,5.73,0,0,1-1.62.27.42.42,0,0,0-.32-.08l-.29.06a.58.58,0,0,1-.26,0c-.08,0-.16-.13-.24-.32a5.62,5.62,0,0,0-1.48.21,8,8,0,0,1-1.82.21c0,.19,0,.27-.11.23a1.35,1.35,0,0,1-.27-.16,1.32,1.32,0,0,0-.32-.2c-.12-.06-.22,0-.29.15l-.4.36a1.85,1.85,0,0,0-.38-.32l-.32,0-.75.37a2,2,0,0,1,.36.4.92.92,0,0,1,.06.4q-.81,0-.93-.21a.6.6,0,0,1,.05-.56,3.94,3.94,0,0,1,.39-.61l.07-.11.75.32c.34-.2.43-.37.25-.53a.66.66,0,0,1-.27-.51c0,.19-.12.27-.38.24a.27.27,0,0,0-.33.22s0,0,0,0h-.35v.29a1.41,1.41,0,0,1,0,.32.82.82,0,0,1-.32,0,1.43,1.43,0,0,1,.07-.52c.06-.16-.07-.33-.38-.52l-.28-13.28.28-.42a.36.36,0,0,1,.3.23.43.43,0,0,1,.06.17l.74-.77a1.2,1.2,0,0,1,.61-.1l.75,0a3.67,3.67,0,0,0,.67,0,.47.47,0,0,0,.4-.33l8-.71L414,42.2c.08.19.18.28.32.26l.4-.1a1.92,1.92,0,0,1,.38-.07c.12,0,.21.08.29.23a1,1,0,0,0,.49-.59,1.51,1.51,0,0,0,0-.7l-.19-.75a2,2,0,0,1,0-.87.84.84,0,0,0,.1-.84c-.12-.25-.28-.55-.48-.89a3.6,3.6,0,0,0-.06-2.85h.35A.82.82,0,0,1,415.64,34.79ZM385.29,46.45c.19,0,.3-.06.31-.18s0-.06,0,.18Zm6.7-5.74c0-.06-.13,0-.31.21l.33-.41C392,40.7,392,40.77,392,40.71ZM413.67,60.2h-.4v-.29ZM393.39,39.73v-.3h.4v.29Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M383.89,32.37l.4.39A.89.89,0,0,0,383.89,32.37Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M457.32,34.68a.53.53,0,0,1,.23-.06h-.4V35A.38.38,0,0,1,457.32,34.68Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M457.62,49.25c0-.15-.14-.32-.53-.51l0,1.1.75-.36C457.67,49.48,457.59,49.41,457.62,49.25Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M458.63,50.16c-.19,0-.29,0-.29,0a1.74,1.74,0,0,0,.3.32Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M486.37,38.44l.7,0v-.35a1.45,1.45,0,0,0-.35.07C486.48,38.22,486.37,38.32,486.37,38.44Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M490,36.91c0-.15,0-.35-.05-.58a4.3,4.3,0,0,1,0-.72,1.94,1.94,0,0,1,.16-.7,1.55,1.55,0,0,1,.54-.63c-.35,0-.52-.13-.5-.42a1,1,0,0,0-.22-.72,4.67,4.67,0,0,1,.28-1.66,2.37,2.37,0,0,0,0-1.66v.41a7.25,7.25,0,0,1-2.44.2,13.39,13.39,0,0,0-1.86-.11,1.22,1.22,0,0,1-.55.1,2.41,2.41,0,0,1-.52-.11,2.52,2.52,0,0,0-.56-.1.71.71,0,0,0-.52.15,3.44,3.44,0,0,0-1.45-.31c-.62,0-1.13,0-1.51,0h-.35l-2.15,0a1.71,1.71,0,0,1-1.42,0,3,3,0,0,0-1.11-.28,2.24,2.24,0,0,1-.6.29c-.08,0-.22-.09-.42-.29a.86.86,0,0,1-.49.1,2.12,2.12,0,0,1-.41-.08,2.76,2.76,0,0,0-.43-.07.79.79,0,0,0-.47.09c-.58,0-1.08,0-1.5,0a5,5,0,0,1-1.46-.28.47.47,0,0,1-.58.15,2,2,0,0,0-.81-.13,5,5,0,0,0-1.46-.37c-.43,0-.91,0-1.46,0l-2.49,0a.92.92,0,0,0-.19-.52.8.8,0,0,1-.18-.52l-1.86,0a2.64,2.64,0,0,1-.29,1.17,1.74,1.74,0,0,0,0,1.45c-.19.2-.36.4-.51.59a1.57,1.57,0,0,0-.22.94h.41c-.16-.12-.16-.21,0-.29a1,1,0,0,1,.35-.07.6.6,0,0,1-.05.29c-.07.16-.17.18-.29.07,0,.19-.06.25-.2.18s-.2,0-.2.17a2.38,2.38,0,0,1-.59.71l-.77.63a8.63,8.63,0,0,0-.77.71,3.83,3.83,0,0,0-.65.91v-.34a1.52,1.52,0,0,0-.39.73c-.07.29.07.43.42.43a.91.91,0,0,0,0,.61c.06.21.11.41.16.6a1.07,1.07,0,0,1,0,.47c0,.11-.19.18-.46.18a.59.59,0,0,0-.11.7c.13.27.28.4.48.4a2.2,2.2,0,0,1,0-.53.33.33,0,0,1,.35-.24,1,1,0,0,1-.14.53c-.09.16,0,.23.15.23a12.67,12.67,0,0,0-.14,2.93,9.29,9.29,0,0,1-.15,2.65l0,.69H457v.35h.34c0,.23-.05.31-.17.24s-.17,0-.16.23a.75.75,0,0,1,.16.78,3.91,3.91,0,0,0-.13,1,.83.83,0,0,1,.44-.09.45.45,0,0,1,.26.14,2.13,2.13,0,0,1,.21.22.26.26,0,0,0,.2.12c.2.38.46.81.76,1.29a12.58,12.58,0,0,1,.75,1.35l.12.23a.55.55,0,0,1-.11.46,2.45,2.45,0,0,0,.54.48,1.41,1.41,0,0,0,.87.19l0,.81h.35v.35a2.5,2.5,0,0,1,.73.13.65.65,0,0,0,.72-.16q.19.52.51.6a1.63,1.63,0,0,0,.7,0l.72-.13a.76.76,0,0,1,.64.16.38.38,0,0,1,.46-.13l.24.11c.19,0,.32,0,.38.11a1.8,1.8,0,0,0,.18.2,1,1,0,0,0,.17.14c.06,0,.19,0,.38-.12v-.35l1.1,0a3.46,3.46,0,0,0,1.17.35c.43,0,.88.08,1.37.09l1.45,0a6.91,6.91,0,0,1,1.43.18l.35.34.69-.36c.2.38.39.53.56.45a1.48,1.48,0,0,1,.55-.13,1.41,1.41,0,0,0,1.08.13,3.88,3.88,0,0,1,1-.17l.51,5.21a1.47,1.47,0,0,1-1.1.17,3.7,3.7,0,0,0-1-.12c0,.19,0,.31-.11.35A.7.7,0,0,1,476,61l-.46,0a1.05,1.05,0,0,0-.55.33c0-.19,0-.3-.12-.31l-.23,0a.52.52,0,0,1-.24-.05c-.08,0-.12-.15-.12-.35l-3.66.08v.35a.46.46,0,0,0-.38-.32,2.35,2.35,0,0,0-.53,0l-.49.06a.37.37,0,0,1-.35-.08l-2.9.06c0,.2,0,.29-.11.27l-.23-.08-.24-.09c-.08,0-.11.07-.11.27-.2-.19-.38-.25-.55-.17s-.36,0-.56-.16c-.08,0-.17.06-.28.18a.46.46,0,0,0-.06.18,1.22,1.22,0,0,1-1.13,0,1.22,1.22,0,0,0-1.07,0,3.14,3.14,0,0,0-1.63-.11,11.3,11.3,0,0,1-1.91.19,6.73,6.73,0,0,0-.32,1.77c0,.6,0,1.2,0,1.8s0,1.2,0,1.8a6.36,6.36,0,0,1-.28,1.78,4.74,4.74,0,0,0,0-.55c0-.18-.13-.26-.32-.26a.82.82,0,0,0-.72.31,1.16,1.16,0,0,0-.19.73,4.3,4.3,0,0,0,.1.87,3.14,3.14,0,0,1,.1.72c0,.2.14.26.39.2s.37,0,.38.19.17.28.26.26a.46.46,0,0,0,.26-.15,1.33,1.33,0,0,1,.26-.21c.09-.06.2,0,.32.08a4.26,4.26,0,0,0,.87-.08,1.14,1.14,0,0,0,.57-.36v.41a5.7,5.7,0,0,0,1.31.06c.44,0,.91-.08,1.39-.15s1-.11,1.48-.14a6.56,6.56,0,0,1,1.57.11,4.55,4.55,0,0,0,2,.13,6.54,6.54,0,0,1,2.3.13,4.82,4.82,0,0,0,2.35,0,6.44,6.44,0,0,1,2.7-.06,6.32,6.32,0,0,1,2.2-.22,7.53,7.53,0,0,0,2.43-.22.85.85,0,0,1,.95-.51,8.52,8.52,0,0,0,1.19.06,2.56,2.56,0,0,1,.73.13.65.65,0,0,0,.72-.16,1,1,0,0,0,.58-.24l.6-.51c.2-.18.41-.35.62-.51a1.16,1.16,0,0,1,.72-.24v-.76a2.15,2.15,0,0,0,.85-.74c.19-.3.36-.54.51-.74h.35l.34-.41c.19.11.3.13.32,0a.86.86,0,0,0,0-.29,1.48,1.48,0,0,1,0-.35c0-.11.15-.18.35-.18h.75a.7.7,0,0,1,.32,0,.9.9,0,0,1,0,.32,3.35,3.35,0,0,0,.29-1.35c0-.5,0-1,0-1.62a4.19,4.19,0,0,0,.3-1.4c0-.46,0-.93,0-1.39L489.94,58a4.74,4.74,0,0,1,.12-1.4,4.11,4.11,0,0,0-.17-1,.77.77,0,0,1,.13-.82.75.75,0,0,0,.19-.55,2,2,0,0,0-.16-.55,3.29,3.29,0,0,0-.3-.55.92.92,0,0,1-.18-.54,5.38,5.38,0,0,0-1.24-1,2.23,2.23,0,0,1-1-1.31.82.82,0,0,1-.59-.34,1,1,0,0,0-.76-.33c0-.35,0-.69,0-1a1.26,1.26,0,0,0-.33-.81l-7.66.16a12.53,12.53,0,0,0-4,.14,26.53,26.53,0,0,1-4.26.44.72.72,0,0,1-.19-.72.71.71,0,0,0-.18-.73l0,1H469a.82.82,0,0,1-.32,0,.82.82,0,0,1,0-.31,1.91,1.91,0,0,0,.44-1.52,4.45,4.45,0,0,1,.19-1.81l.05,2.27a11.13,11.13,0,0,0,.39-3.58,17.47,17.47,0,0,1,.16-3.58c-.2-.19-.27-.35-.22-.49s.12-.28.2-.43a2.67,2.67,0,0,0,.16-.44.55.55,0,0,0-.18-.49l.69,0a1,1,0,0,1,.53.14c.16.09.23,0,.23-.15a62.42,62.42,0,0,0,9,.3q4.44-.18,9-.27V38a.53.53,0,0,1,.35-.1L490,38a.89.89,0,0,0,.29,0c.08,0,.11-.13.11-.32a1.09,1.09,0,0,0-.07-.35C490.21,37,490.11,36.91,490,36.91ZM462,50.15a.14.14,0,0,1,.11-.06v.34C462,50.32,461.92,50.23,462,50.15Zm11.14,11.26V61a.24.24,0,0,1,.17.06C473.39,61.14,473.33,61.25,473.14,61.41Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M475.45,29.78h.32l0,0Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M481.37,38.19v.35l.36.4a.32.32,0,0,0,.28-.18.53.53,0,0,0,.06-.23c-.2-.19-.32-.25-.36-.17S481.57,38.38,481.37,38.19Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M470.58,55.31a.24.24,0,0,1-.06-.17.62.62,0,0,0-.29.06c-.15.08-.17.18-.05.29h.69C470.72,55.48,470.62,55.43,470.58,55.31Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M473.14,38.71c.2.19.37.24.52.14a1,1,0,0,1,.52-.16c-.19-.19-.37-.23-.52-.13A.93.93,0,0,1,473.14,38.71Z"
      transform="translate(-19.6 -20.33)"
    />
    <polygon
      class="cls-1"
      points="459.98 18.25 459.63 17.91 459.23 18.26 459.98 18.25"
    />
    <path
      class="cls-1"
      d="M422.1,32.8c-.35,0-.43-.06-.26-.2a.6.6,0,0,0,.25-.49c-.2-.19-.32-.25-.35-.17s-.16,0-.36-.17l.37,1Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M418.57,61.09a2.31,2.31,0,0,0,0,.49c0,.14.12.2.32.2s.28-.12.25-.35S419,61.08,418.57,61.09Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M422.24,31.23c.12-.12.18-.08.18.11.11-.15.15-.25.11-.29a.13.13,0,0,0-.15,0l-.2.06c-.08,0-.11,0-.12-.09v.35A.83.83,0,0,1,422.24,31.23Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M451.89,36a.46.46,0,0,1,.06-.18c.11-.12.2-.18.28-.18-.19,0-.25-.05-.17-.17s0-.17-.18-.17a.28.28,0,0,1-.11.21l-.2.15a.11.11,0,0,0-.06.14C451.53,35.82,451.66,35.89,451.89,36Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M425.28,31.92a.5.5,0,0,0-.17.12h.4C425.51,31.88,425.43,31.84,425.28,31.92Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M453.87,51.74a.39.39,0,0,0,.14-.38h-.35c0,.2,0,.37,0,.53s.13.23.33.22C453.83,51.92,453.78,51.8,453.87,51.74Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M452.82,46.91a22.08,22.08,0,0,1-.39-3.24c0-1-.07-2.07-.1-3.19a.87.87,0,0,0,.19-.65c0-.23.14-.27.49-.12l-.36-.69a.27.27,0,0,0,0-.32l-.21-.34a2.49,2.49,0,0,1-.21-.49,1.5,1.5,0,0,1,0-.76,1.19,1.19,0,0,0-.32-.31,3,3,0,0,1-.39-.31,1.17,1.17,0,0,1-.24-.37.82.82,0,0,1,.05-.5,4,4,0,0,1-.7-.07q-.41-.07-.42-.66c.19-.2.24-.37.14-.53a1,1,0,0,1-.16-.52,1,1,0,0,0-.32,0,1,1,0,0,0,0,.32c-.19,0-.25-.05-.18-.17s0-.17-.17-.17a1.13,1.13,0,0,1-.51-.69,4.55,4.55,0,0,1-.13-.75,1.57,1.57,0,0,0-.19-.6c-.1-.18-.32-.26-.67-.25,0-.27-.06-.43-.16-.46a.57.57,0,0,0-.32,0,1.45,1.45,0,0,1-.37,0c-.14,0-.25-.09-.33-.28a.38.38,0,0,1-.22.35.46.46,0,0,1-.18.06c-.19-.19-.35-.26-.47-.22a.58.58,0,0,0-.28.21.85.85,0,0,1-.29.24c-.11.06-.27,0-.47-.2h.41a2.63,2.63,0,0,1-.93-.13,1.27,1.27,0,0,0-1,.17h.46l-.46.35c-.15-.11-.2-.2-.12-.28a.17.17,0,0,1,.12-.06,1.22,1.22,0,0,1-.56-.14c-.17-.09-.36,0-.55.16h.41a1.39,1.39,0,0,0-.35,0l-.32,0a.22.22,0,0,1-.2-.08c0-.06,0-.18.05-.38l-.69.42V31c-.19,0-.26.08-.2.21s0,.21-.2.21V31l-.69.42-.47-.39-2.21,0c-.19.2-.37.25-.55.16a1.06,1.06,0,0,0-.55-.13.29.29,0,0,0-.27-.09l-.31.07a1.18,1.18,0,0,1-.32,0c-.1,0-.19-.13-.27-.32l-.55,0a1.09,1.09,0,0,0-.55.33,6.7,6.7,0,0,0-1.05-.44.75.75,0,0,0-.81.13h-.35c-.42.2-.67.25-.75.13a3.71,3.71,0,0,0-.42-.45l-.39.35-1.46,0-1.21,0a1.18,1.18,0,0,1-.24-.17l-.23-.11a.53.53,0,0,0-.24-.06,1.92,1.92,0,0,1,0,.35,6.88,6.88,0,0,1-.85-.07q-.58-.07-.57.45a.57.57,0,0,1,.29,0,.14.14,0,0,1,0,.15,1,1,0,0,1-.06.14s0,.06.09.06l-.34.35c0,.2,0,.32-.14.36s0,.15.16.34a1.08,1.08,0,0,0-.52.39,1,1,0,0,0-.11.44V34a.64.64,0,0,1-.1.38c0-.23-.08-.36-.22-.4a1.76,1.76,0,0,0-.49,0l.33-.7a5.19,5.19,0,0,0,0-.61,1,1,0,0,0-.33-.55.21.21,0,0,0,.05-.26.81.81,0,0,0-.23-.28c-.12-.1-.25-.19-.39-.29a1.88,1.88,0,0,1-.32-.25l0,1.1h.35c0,.19-.05.31-.17.35s-.17.16-.17.35c-.19-.19-.32-.22-.37-.08a2.74,2.74,0,0,1-.37.56c-.19,0-.3,0-.32-.17s0-.06,0,.18a.71.71,0,0,0-.49.18l-.4.36a1.3,1.3,0,0,1-.43.27.46.46,0,0,1-.46-.08,1,1,0,0,1-.45.94,4.9,4.9,0,0,0-.74.59c0,.2-.05.27-.17.21s-.17,0-.17.21c.35.15.45.3.3.46a1.83,1.83,0,0,1-.29.23c0,1.36.11,2.67.23,4a18.72,18.72,0,0,1-.06,3.95,1,1,0,0,1,.3.72A1,1,0,0,1,419,46h.35l0,2,0,1.11.23,11.2a.69.69,0,0,0-.13.75,2.35,2.35,0,0,1,.16.75,1.54,1.54,0,0,0,.37-.5.39.39,0,0,1,.37-.21c0,.78-.22,1.17-.73,1.18a1.42,1.42,0,0,1,.4.72,1.35,1.35,0,0,0,.39.71q1.2,2,2.37,3.87c.78,1.24,1.57,2.42,2.37,3.52a1.94,1.94,0,0,1,1.67-.29,7.46,7.46,0,0,0,2,.22l.42.39c1.47,0,2.81,0,4,.07a17.05,17.05,0,0,0,3.8-.23l.36.34a1,1,0,0,1,.57-.33l.58,0a9.37,9.37,0,0,0,3.85-.63,13.64,13.64,0,0,0,3.27-1.87,23.06,23.06,0,0,0,2.85-2.58l2.58-2.73a2.31,2.31,0,0,0,.48-.79,2.56,2.56,0,0,0,.18-1,1.38,1.38,0,0,0,.45-.65,4.18,4.18,0,0,0,.16-.7c0-.23.06-.43.08-.61a.63.63,0,0,1,.13-.38l-.07-3.36a4.25,4.25,0,0,0,.57-1.9c0-.68.06-1.29,0-1.83l-.35-.4ZM420.45,62.56a.38.38,0,0,1,.06-.17.58.58,0,0,1,.4-.19v.35ZM427,31.66h-.76c-.08-.19-.09-.32,0-.37a.71.71,0,0,1,.26-.15,1.54,1.54,0,0,1,.35-.1.18.18,0,0,0,.15-.11.37.37,0,0,1,0,.11c0,.13-.12.2-.31.21.27.19.41.18.4,0a1.57,1.57,0,0,0-.06-.35,2.18,2.18,0,0,0,.35.31,1.14,1.14,0,0,0,.35,0c0,.23-.05.29-.17.17a.33.33,0,0,1-.18-.17c0,.2-.05.27-.17.21S427,31.46,427,31.66Zm8,19.64a4.76,4.76,0,0,0-.07.86,17.22,17.22,0,0,0,0,2.77.2.2,0,0,0,0,.07c-.48,0-.95.07-1.42.12a12,12,0,0,0-3-.12,15.6,15.6,0,0,1-3.22-.12c.15-.17.25-.23.3-.16s.14,0,.29-.16a1.55,1.55,0,0,1-.27-.75,7.09,7.09,0,0,1,0-.8c0-.28,0-.57,0-.86a4.1,4.1,0,0,0-.08-.91c.08-.17.11-.28.08-.31a.14.14,0,0,0-.09,0c.15-.18.18-.29.11-.34s-.12-.16-.13-.34l0-1c.12-.18.11-.33,0-.44s-.13-.18,0-.19v-.31c0-.21.06-.4.08-.57a1.1,1.1,0,0,0-.11-.83h-.31a5.07,5.07,0,0,0,.34-1.15,2,2,0,0,1,.75-1.21,2.47,2.47,0,0,0,1.37.1,6.79,6.79,0,0,1,1.32-.16v-.31a2.31,2.31,0,0,1,1.34-.13c.32.07.64.16,1,.26a.59.59,0,0,0-.23,0l-.25.08a.92.92,0,0,1-.37.06.82.82,0,0,0,.74.12,1.12,1.12,0,0,1,.5-.14h.27l-.28-.3h.27a.33.33,0,0,0,.14.26.2.2,0,0,0,.14,0h.54a2.15,2.15,0,0,0,.12.52,16.5,16.5,0,0,0-.08,2.6,15,15,0,0,0,.39,2.76l-.19.4A.86.86,0,0,1,434.94,51.3Zm10.65-3a.31.31,0,0,0,.32.15,6.18,6.18,0,0,0,.13.83,1,1,0,0,1-.09.83h.31a2.89,2.89,0,0,1-.09.73,1.49,1.49,0,0,0,.13,1,1.74,1.74,0,0,1-.17.63,2,2,0,0,0-.13.41,6.17,6.17,0,0,0,.14,1.25,1.74,1.74,0,0,1-.09,1.09l-.27.32c-1.48-.24-3-.41-4.63-.52,0-.35,0-.7,0-1.09a5.24,5.24,0,0,0-.12-1.11,6.5,6.5,0,0,1-.12-1,.76.76,0,0,1-.09-.58,2.32,2.32,0,0,0,.07-.56c0-.11,0-.18-.09-.2s0-.08.08-.19c-.14-1.44-.26-2.85-.35-4.22-.05-.68-.07-1.37-.08-2.07l.33.09a5,5,0,0,0,.5.18.59.59,0,0,0,.48-.09,4.58,4.58,0,0,0,1-.15.69.69,0,0,1,.75.11,5.59,5.59,0,0,0,1.53.28c.54,0,1,0,1.44,0,0,.7,0,1.42,0,2.18a10.31,10.31,0,0,1-.2,2.14l0-1.61a1.68,1.68,0,0,1-.67.35.6.6,0,0,0-.45.66C445.36,48.17,445.53,48.22,445.59,48.32Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M316,63.22a3.34,3.34,0,0,0,0,.49c0,.13.13.2.32.2s.28-.13.26-.36S316.36,63.21,316,63.22Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M319.51,34.93c-.35,0-.44-.06-.27-.2a.59.59,0,0,0,.25-.5c-.2-.19-.31-.24-.35-.17s-.16,0-.35-.16l.37,1Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M349.3,38.08a.3.3,0,0,1,.05-.17.45.45,0,0,1,.29-.18c-.2,0-.26,0-.18-.17s0-.18-.18-.17a.26.26,0,0,1-.11.2l-.2.15a.12.12,0,0,0-.06.15C348.93,38,349.06,38,349.3,38.08Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M319.65,33.36c.11-.12.17-.08.17.11.12-.16.15-.25.11-.29a.12.12,0,0,0-.14,0l-.2.06c-.08,0-.12,0-.12-.08v.35A.5.5,0,0,1,319.65,33.36Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M351.28,53.86a.4.4,0,0,0,.13-.38h-.34a2.75,2.75,0,0,0,0,.52c0,.16.13.23.32.23C351.23,54.05,351.18,53.92,351.28,53.86Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M350.22,49a22.2,22.2,0,0,1-.39-3.25c0-1-.07-2.06-.09-3.19a.88.88,0,0,0,.19-.64c0-.23.14-.27.49-.13l-.36-.68a.29.29,0,0,0,0-.32l-.21-.35a2.53,2.53,0,0,1-.22-.49,1.48,1.48,0,0,1,0-.75,1.1,1.1,0,0,0-.33-.31,2.92,2.92,0,0,1-.38-.32.79.79,0,0,1-.24-.37.73.73,0,0,1,0-.49,3.19,3.19,0,0,1-.7-.08c-.27-.05-.41-.27-.42-.65.19-.2.23-.38.13-.53a.91.91,0,0,1-.15-.52.9.9,0,0,0-.32,0,.79.79,0,0,0,0,.32c-.19,0-.25-.06-.17-.17s0-.18-.18-.17a1.17,1.17,0,0,1-.51-.69,5.92,5.92,0,0,1-.13-.75,1.46,1.46,0,0,0-.19-.61c-.1-.17-.32-.25-.67-.25,0-.27-.06-.42-.15-.46a.69.69,0,0,0-.32,0l-.38,0c-.14,0-.24-.09-.33-.29a.37.37,0,0,1-.22.36.49.49,0,0,1-.17.06c-.2-.19-.36-.26-.47-.22a.61.61,0,0,0-.29.21.91.91,0,0,1-.28.23c-.12.06-.28,0-.47-.19h.4a2.5,2.5,0,0,1-.93-.12,1.25,1.25,0,0,0-1,.16h.46l-.45.36c-.16-.11-.2-.21-.13-.29a.17.17,0,0,1,.12-.06,1.12,1.12,0,0,1-.56-.13c-.17-.1-.35,0-.54.15h.4a2,2,0,0,0-.34,0,2.14,2.14,0,0,1-.32,0,.23.23,0,0,1-.21-.09s0-.18.05-.37l-.69.42v-.41c-.2,0-.26.07-.2.21s0,.2-.2.21v-.41l-.69.42-.47-.4-2.21,0c-.19.2-.37.25-.54.16a1.14,1.14,0,0,0-.56-.14.29.29,0,0,0-.26-.08l-.32.06a.7.7,0,0,1-.32,0c-.1,0-.19-.12-.27-.31a4.91,4.91,0,0,0-.55,0,.94.94,0,0,0-.54.33,5.3,5.3,0,0,0-1.06-.44.73.73,0,0,0-.81.13h-.34c-.43.2-.68.24-.76.13a3.49,3.49,0,0,0-.41-.46l-.4.36-1.45,0L325,33a.71.71,0,0,1-.24-.17l-.23-.11a.68.68,0,0,0-.23,0c0,.13,0,.24,0,.35a6.87,6.87,0,0,1-.86-.07q-.59-.08-.57.45a.41.41,0,0,1,.29.05.12.12,0,0,1,0,.14,1.31,1.31,0,0,1-.05.15s0,.06.09.06l-.35.35c0,.19,0,.31-.13.35s0,.16.15.35a1.08,1.08,0,0,0-.52.39.8.8,0,0,0-.1.43v.44a.76.76,0,0,1-.11.38c0-.23-.08-.37-.21-.4a1.51,1.51,0,0,0-.5-.05l.34-.71a4.83,4.83,0,0,0,0-.6.93.93,0,0,0-.33-.55.22.22,0,0,0,.06-.26.77.77,0,0,0-.24-.29l-.38-.28a2.79,2.79,0,0,1-.33-.25l0,1.1h.35c0,.2-.05.31-.17.35s-.17.16-.16.36c-.2-.19-.33-.22-.38-.08a3,3,0,0,1-.37.56c-.19,0-.3-.06-.32-.17s0-.06,0,.17a.74.74,0,0,0-.49.19l-.4.35a1.54,1.54,0,0,1-.43.27.48.48,0,0,1-.47-.07,1,1,0,0,1-.44.93,4.09,4.09,0,0,0-.75.6c0,.19-.05.26-.17.21s-.17,0-.17.2c.35.15.45.3.3.46a1.74,1.74,0,0,1-.28.24c0,1.35.1,2.67.22,3.94a17.46,17.46,0,0,1-.06,3.95,1,1,0,0,1,0,1.45h.35l0,2,0,1.1.24,11.2a.69.69,0,0,0-.13.76,3.07,3.07,0,0,1,.16.75,1.59,1.59,0,0,0,.36-.5.36.36,0,0,1,.38-.21c0,.77-.23,1.16-.73,1.17a1.49,1.49,0,0,1,.39.72,1.34,1.34,0,0,0,.39.72q1.2,2,2.37,3.87c.78,1.24,1.57,2.41,2.37,3.52a2,2,0,0,1,1.68-.3,6.65,6.65,0,0,0,2,.22l.42.4c1.47,0,2.81,0,4,.06a16.94,16.94,0,0,0,3.79-.22l.36.34a1,1,0,0,1,.57-.33,5.65,5.65,0,0,1,.58,0,9.31,9.31,0,0,0,3.85-.63,14,14,0,0,0,3.27-1.87,24,24,0,0,0,2.85-2.59l2.58-2.72a2.41,2.41,0,0,0,.48-.79,2.56,2.56,0,0,0,.18-1,1.42,1.42,0,0,0,.45-.65,3.53,3.53,0,0,0,.16-.7c0-.23.06-.44.08-.61a.56.56,0,0,1,.14-.38L350.06,58a4.52,4.52,0,0,0,.57-1.9c0-.67.06-1.28.05-1.83l-.36-.4ZM317.86,64.69a.41.41,0,0,1,.05-.18.55.55,0,0,1,.4-.18v.35Zm7-31.15a.37.37,0,0,1-.18-.17c0,.19-.05.26-.17.21s-.18,0-.17.2l-.76,0c-.08-.19-.09-.32,0-.38a.58.58,0,0,1,.26-.15,2.14,2.14,0,0,1,.34-.09c.09,0,.14-.06.15-.11v.1c0,.14-.13.21-.32.21.28.19.41.19.41,0a1.63,1.63,0,0,0-.07-.35,2.67,2.67,0,0,0,.36.31.94.94,0,0,0,.35,0C325.05,33.59,325,33.65,324.88,33.54ZM331,58.89a2.09,2.09,0,0,1-.46-.12,4.52,4.52,0,0,0-.47-.18.47.47,0,0,0-.45.09,4.08,4.08,0,0,0-.93.15.63.63,0,0,1-.71-.12,5.4,5.4,0,0,0-1.45-.28c-.5,0-1,0-1.36,0,0-.7,0-1.43,0-2.19a11.24,11.24,0,0,1,.19-2.15l0,1.62a1.53,1.53,0,0,1,.64-.35.59.59,0,0,0,.41-.66c-.26,0-.41,0-.47-.15a.34.34,0,0,0-.31-.15,4.6,4.6,0,0,0-.12-.83,1,1,0,0,1,.09-.84h-.31a3.44,3.44,0,0,1,.1-.73,1.65,1.65,0,0,0-.13-1,1.9,1.9,0,0,1,.16-.63,3.31,3.31,0,0,0,.12-.42,7.07,7.07,0,0,0-.13-1.25,1.91,1.91,0,0,1,.08-1.1l.25-.32a45.38,45.38,0,0,0,4.71.55l0,.32c0,.42,0,.87,0,1.35a7.1,7.1,0,0,0,.12,1.12,6.51,6.51,0,0,1,.11,1,.78.78,0,0,1,.09.59,2.32,2.32,0,0,0-.07.56c0,.11,0,.18.09.2s0,.08-.08.2c.14,1.44.25,2.85.34,4.23,0,.47.05.95.06,1.43A.24.24,0,0,1,331,58.89Zm12.15-1.69a2.07,2.07,0,0,1-.71,1.21,2.29,2.29,0,0,0-1.29-.1,6.12,6.12,0,0,1-1.25.16v.31a2,2,0,0,1-1.27.13,8.46,8.46,0,0,1-.91-.27.41.41,0,0,0,.22,0l.23-.09a1.08,1.08,0,0,1,.35,0,.74.74,0,0,0-.7-.12,1,1,0,0,1-.47.14h-.25l.26.31h-.26a.3.3,0,0,0-.13-.26.17.17,0,0,0-.13,0h-.26a17.16,17.16,0,0,0,.07-2.54,15.18,15.18,0,0,0-.37-2.77l.18-.4a.91.91,0,0,1-.09-.67,6.15,6.15,0,0,0,.06-.87,18.55,18.55,0,0,0,0-2.78l0-.7c.33,0,.67-.05,1-.09a10.72,10.72,0,0,0,2.82.12,13.9,13.9,0,0,1,3,.12c-.14.18-.23.24-.27.17s-.14,0-.28.16A1.63,1.63,0,0,1,343,49a7.18,7.18,0,0,1,0,.81c0,.28,0,.56,0,.86a4.13,4.13,0,0,0,.09.91c-.08.18-.11.28-.08.31s.06.06.09,0c-.14.18-.18.3-.11.35s.12.16.12.33l0,1.05a.31.31,0,0,0,0,.44c.13.12.13.18,0,.18v.31c0,.21,0,.41-.07.58a1.21,1.21,0,0,0,.1.83h.3A5,5,0,0,0,343.16,57.2Z"
      transform="translate(-19.6 -20.33)"
    />
    <path
      class="cls-1"
      d="M322.68,34.05a.62.62,0,0,0-.17.12h.4C322.91,34,322.83,34,322.68,34.05Z"
      transform="translate(-19.6 -20.33)"
    />
  </svg>
</template>

<style scoped>
  .cls-1 {
    fill: #283747;
  }
</style>
