<template>
  <div class="absolute flex w-full">
    <nav
      class="h-24 p-6 flex w-full flex-wrap z-30">
      <LogoPorcos
        class="h-full">
        </LogoPorcos>
        <button
          class="ml-auto text-gray-700 hover:bg-gray-700 hover:text-gray-100 rounded px-4 py-2 font"
          @click="$emit('about')"
        >
          Sobre
        </button>
        <div class="lg:hidden relative p-1 sm:max-w-xl ml-4 hover:bg-gray-700 rounded">
            <nav x-data="{ open: false }">
                <button class="text-gray-700 hover:text-white w-10 h-10 relative focus:outline-none" @click="open = !open">
                    <span class="sr-only">Open main menu</span>
                    <div class="block w-5 absolute left-1/2 top-1/2   transform  -translate-x-1/2 -translate-y-1/2">
                        <span aria-hidden="true" class="block absolute h-0.5 w-5 bg-current transform transition duration-150 ease-in-out" :class="{'rotate-45': open,' -translate-y-1.5': !open }"></span>
                        <span aria-hidden="true" class="block absolute  h-0.5 w-5 bg-current transform transition duration-150 ease-in-out" :class="{'opacity-0': open } "></span>
                        <span aria-hidden="true" class="block absolute  h-0.5 w-5 bg-current transform  transition duration-150 ease-in-out" :class="{'-rotate-45': open, ' translate-y-1.5': !open}"></span>
                    </div>
                </button>
            </nav>
        </div>
    </nav>
    <Eps v-model:open="open" :eps="eps">
    </Eps>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'
import Eps from '../components/Eps.vue'
import LogoPorcos from '../components/LogoPorcos.vue'

import { ep } from '../types/types'


export default defineComponent({
  props: {
    eps: {
      type: Array as PropType<Array<ep>>,
      required: true
    }
  },
  emits: ['open', 'about'],
  components: {
    Eps,
    LogoPorcos
  },
  data: () => ({
    open: false,
    touchX: 0
  }),
  methods: {
    startTouch(event: TouchEvent): void {
      this.touchX = event.changedTouches[0].screenX
    },
    endTouch(event: TouchEvent): void {
      if(event.changedTouches[0].screenX < this.touchX - 100) console.log('swipe')
    }
  }
})
</script>

<style scoped>

</style>