<template>
  <div
    class="flex h-screen w-screen bg-container">
    <div class="flex-grow">
      <img
        :src="'/assets/imgs/'+ep.url+'.png'"
        class="absolute watermark"/>
    </div>
    <Mapa
      class="mapa z-10"
      :ep="'ep-' + ep.ep"></Mapa>
    <div class="flex-grow bg-gray-300"></div>
  </div>
  <div class="absolute top-0 left-0 max-w-3/5 py-20 px-6 city lg:px-20 lg:py-40 z-20">
    <h1 class="text-2xl
              xl:text-6xl xl:py-8
              font">
      {{ep.name}}
      </h1>
    <h2 class="text-sm
              xl:text-xl
              font"
        v-html="ep.movimento">
      </h2>
    <button
      class="gg-play-button-o"
      @click="$emit('open', ep.video)"
      ></button>
  </div>
  <div class="absolute bottom-0 right-0 pb-4 pr-4 text-sm w-3/4 text-justify
              md:pl-6 md:max-w-2/5 md:text-base
              xl:right-40 xl:text-xl
              2xl:bottom-20
              description z-20">
    <p class="indent">{{ep.descripton}}</p>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'
import Mapa from '../components/Mapa.vue'

import { ep } from '../types/types'

export default defineComponent({
  props: {
    ep: {
      type: Object as PropType<ep>,
      required: true
    }
  },
  emits: ['open'],
  components: {
    Mapa
  }
})
</script>

<style lang="postcss" scoped>
.watermark {
  mix-blend-mode: lighten;
  opacity: 0.4;
}

.bg-container {
  background-color: #DE354C;
}

.indent {
  text-indent: 2em;
}

.gg-play-button-o {
  @apply relative block
    w-20 h-20
    border-4 border-gray-700
  hover:border-gray-300 hover:text-gray-300
    flex items-center justify-center
    lg:w-32 lg:h-32 lg:mt-32 lg:border-8;

  border-radius: 50%;
}

.gg-play-button-o::before {
  content: "";

  @apply absolute block w-0 h-10;

  border-top: 1.3rem solid transparent;
  border-bottom: 1.3rem solid transparent;
  border-left: 1.9rem solid;
  transform:translateX(15%);
}

  @media (orientation: landscape) {
    .mapa {
      @apply h-full;
    }
    .description {
      @apply w-2/5;
    }
    .watermark {
      @apply h-full;
    }
    .gg-play-button-o {
      @apply mt-6 mx-auto;
    }
  }
  @media (orientation: portrait) {
    .bg-container {
      @apply flex-col;
    }
    .mapa {
      @apply w-full;
    }
    .watermark {
      @apply w-full pt-10;
    }
    .city {
      @apply max-w-full py-28;
    }
    .gg-play-button-o {
      @apply mt-4 border-0 w-6 xsm:w-20 xsm:h-20 xsm:border-4;
    }
  }
</style>