<template>
  <div
    class="absolute z-50 top-0 left-0 w-screen h-screen md:p-10 lg:p-20 bg-opacity-95 bg-black text-white">
    <button
      class="fixed w-6 h-6 top-4 right-4 lg:right-6 flex items-center justify-center"
      @click="close()">
      <span aria-hidden="true" class="block absolute h-0.5 w-5 bg-current transform transition duration-150 ease-in-out rotate-45"></span>
      <span aria-hidden="true" class="block absolute h-0.5 w-5 bg-current transform  transition duration-150 ease-in-out -rotate-45"></span>
    </button>
    <vimeo-player
      ref="player"
      :options="options"
      class="player"
      :video-id='vidId'
      @ended="endVid"></vimeo-player>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  props: {
    vidId: {
      type: Number,
      required: true
    },
    next: {
      type: String,
      required: true
    }
  },
  emits: ['about','close'],
  data: () => ({
    options: {
      autoplay: true,
    },
  }),
  methods: {
    close() {
      this.$refs.player.pause()
      this.$emit('close')
    },
    endVid() {
      if(this.next !== 'end') {
        this.$router.push({ name: 'Episodes', params: { episodio: this.next }})
        this.close()
      } else {
        this.$emit('about')
        this.close()
      }
    }
  },
  watch: {
    vidId(newId): void {
      this.$refs.player.update(newId)
    }
  }
})
</script>

<style lang="postcss" scoped>
  .player, .player >>> iframe {
    @apply w-full h-full;
  }
</style>