<template>
  <router-view />
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'App',
})
</script>

<style lang="postcss">
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @font-face {
    font-family: Barrio;
    src: url('/fonts/Barrio-Regular.ttf') format('truetype');
  }

  h1, h2, .font {
    font-family: Barrio, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
  }

  #app {
    @apply w-screen h-screen text-gray-700;
  }

  .slide-fade-enter-active,
  .slide-fade-leave-active {
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .slide-fade-enter-from {
    transform: translateX(10px);
    opacity: 0;
  }

  .slide-fade-leave-to {
    transform: translateX(-10px);
    opacity: 0;
  }

  .slide-enter-active,
  .slide-leave-active {
    transition: transform 0.3s ease;
  }

  .slide-enter-from,
  .slide-leave-to {
    transform: translateX(100%);
  }
</style>